{
    "openapi": "3.0.0",
    "info": {
        "title": "commercetools Composable Commerce API",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.us-central1.gcp.commercetools.com"
        }
    ],
    "paths": {
        "/{projectKey}/cart-discounts": {
            "description": "Cart discounts are used to change the prices of different elements within a cart.",
            "get": {
                "summary": "Query cart discounts",
                "operationId": "listCartDiscounts",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort expression, such as `createdAt desc`. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Maximum number of results to return. Default 20, maximum 500",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        },
                        "x-annotation-default": 20
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Number of results to skip, for paging. Default 0, maximum 10000",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        },
                        "x-annotation-default": 0
                    },
                    {
                        "name": "withTotal",
                        "in": "query",
                        "description": "Whether to calculate and return `total` in the response. Default `true`",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        },
                        "x-annotation-default": true
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Query predicate that filters the results. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A paged list of cart discounts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CartDiscountPagedQueryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "view_orders:{projectKey}",
                            "view_cart_discounts:{projectKey}"
                        ]
                    }
                ]
            },
            "post": {
                "summary": "Create a cart discount",
                "description": "Creating a Cart Discount produces the [CartDiscountCreated](ctp:api:type:CartDiscountCreatedMessage) Message.",
                "operationId": "createCartDiscount",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CartDiscountDraft"
                            }
                        }
                    },
                    "description": "Cart discount draft to create"
                },
                "responses": {
                    "201": {
                        "description": "The created cart discount",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CartDiscount"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "manage_orders:{projectKey}",
                            "manage_cart_discounts:{projectKey}"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "projectKey",
                    "in": "path",
                    "description": "`key` of the Project",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "x-annotation-updateable": "CartDiscount",
            "x-annotation-deleteable": "CartDiscount",
            "x-annotation-createable": "CartDiscountDraft"
        },
        "/{projectKey}/cart-discounts/key={key}": {
            "get": {
                "summary": "Get a cart discount by key",
                "operationId": "getCartDiscountByKey",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The cart discount",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CartDiscount"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "view_orders:{projectKey}",
                            "view_cart_discounts:{projectKey}"
                        ]
                    }
                ]
            },
            "post": {
                "summary": "Update a cart discount by key",
                "operationId": "updateCartDiscountByKey",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CartDiscountUpdate"
                            }
                        }
                    },
                    "description": "Version and update actions for the cart discount"
                },
                "responses": {
                    "200": {
                        "description": "The cart discount",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CartDiscount"
                                }
                            }
                        }
                    },
                    "409": {
                        "$ref": "#/components/responses/conflicting_409"
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "manage_orders:{projectKey}",
                            "manage_cart_discounts:{projectKey}"
                        ]
                    }
                ]
            },
            "delete": {
                "summary": "Delete a cart discount by key",
                "description": "Deleting a Cart Discount produces the [CartDiscountDeleted](ctp:api:type:CartDiscountDeletedMessage) Message.",
                "operationId": "deleteCartDiscountByKey",
                "parameters": [
                    {
                        "name": "version",
                        "in": "query",
                        "description": "Expected current version of the resource, for optimistic concurrency control",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The cart discount",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CartDiscount"
                                }
                            }
                        }
                    },
                    "409": {
                        "$ref": "#/components/responses/conflicting_409"
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "manage_orders:{projectKey}",
                            "manage_cart_discounts:{projectKey}"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "projectKey",
                    "in": "path",
                    "description": "`key` of the Project",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "key",
                    "in": "path",
                    "description": "User-defined unique identifier of the resource",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "x-annotation-methodName": "withKey"
        },
        "/{projectKey}/cart-discounts/{id}": {
            "get": {
                "summary": "Get a cart discount by ID",
                "operationId": "getCartDiscountById",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The cart discount",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CartDiscount"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "view_orders:{projectKey}",
                            "view_cart_discounts:{projectKey}"
                        ]
                    }
                ]
            },
            "post": {
                "summary": "Update a cart discount by ID",
                "operationId": "updateCartDiscountById",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CartDiscountUpdate"
                            }
                        }
                    },
                    "description": "Version and update actions for the cart discount"
                },
                "responses": {
                    "200": {
                        "description": "The cart discount",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CartDiscount"
                                }
                            }
                        }
                    },
                    "409": {
                        "$ref": "#/components/responses/conflicting_409"
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "manage_orders:{projectKey}",
                            "manage_cart_discounts:{projectKey}"
                        ]
                    }
                ]
            },
            "delete": {
                "summary": "Delete a cart discount by ID",
                "description": "Deleting a Cart Discount produces the [CartDiscountDeleted](ctp:api:type:CartDiscountDeletedMessage) Message.",
                "operationId": "deleteCartDiscountById",
                "parameters": [
                    {
                        "name": "version",
                        "in": "query",
                        "description": "Expected current version of the resource, for optimistic concurrency control",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The cart discount",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CartDiscount"
                                }
                            }
                        }
                    },
                    "409": {
                        "$ref": "#/components/responses/conflicting_409"
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "manage_orders:{projectKey}",
                            "manage_cart_discounts:{projectKey}"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "projectKey",
                    "in": "path",
                    "description": "`key` of the Project",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "id",
                    "in": "path",
                    "description": "Unique identifier of the resource",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "x-annotation-methodName": "withId"
        },
        "/{projectKey}/discount-codes": {
            "description": "Discount Codes can be added to a discount-code to enable certain discount-code discounts.",
            "get": {
                "summary": "Query discount codes",
                "description": "Deprecated OAuth 2.0 Scope: `view_orders:{projectKey}`",
                "operationId": "listDiscountCodes",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort expression, such as `createdAt desc`. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Maximum number of results to return. Default 20, maximum 500",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        },
                        "x-annotation-default": 20
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Number of results to skip, for paging. Default 0, maximum 10000",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        },
                        "x-annotation-default": 0
                    },
                    {
                        "name": "withTotal",
                        "in": "query",
                        "description": "Whether to calculate and return `total` in the response. Default `true`",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        },
                        "x-annotation-default": true
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Query predicate that filters the results. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A paged list of discount codes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DiscountCodePagedQueryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "view_discount_codes:{projectKey}"
                        ]
                    }
                ]
            },
            "post": {
                "summary": "Create a discount code",
                "description": "Creating a Discount Code produces the [DiscountCodeCreated](ctp:api:type:DiscountCodeCreatedMessage) Message.\n\nDeprecated OAuth 2.0 Scope: `manage_orders:{projectKey}`",
                "operationId": "createDiscountCode",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DiscountCodeDraft"
                            }
                        }
                    },
                    "description": "Discount code draft to create"
                },
                "responses": {
                    "201": {
                        "description": "The created discount code",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DiscountCode"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "manage_discount_codes:{projectKey}"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "projectKey",
                    "in": "path",
                    "description": "`key` of the Project",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "x-annotation-updateable": "DiscountCode",
            "x-annotation-deleteable": "DiscountCode",
            "x-annotation-createable": "DiscountCodeDraft"
        },
        "/{projectKey}/discount-codes/{id}": {
            "get": {
                "summary": "Get a discount code by ID",
                "description": "Deprecated OAuth 2.0 Scope: `view_orders:{projectKey}`",
                "operationId": "getDiscountCodeById",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The discount code",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DiscountCode"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            " view_discount_codes:{projectKey}"
                        ]
                    }
                ]
            },
            "post": {
                "summary": "Update a discount code by ID",
                "description": "Deprecated OAuth 2.0 Scope: `manage_orders:{projectKey}`",
                "operationId": "updateDiscountCodeById",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DiscountCodeUpdate"
                            }
                        }
                    },
                    "description": "Version and update actions for the discount code"
                },
                "responses": {
                    "200": {
                        "description": "The discount code",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DiscountCode"
                                }
                            }
                        }
                    },
                    "409": {
                        "$ref": "#/components/responses/conflicting_409"
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "manage_discount_codes:{projectKey}"
                        ]
                    }
                ]
            },
            "delete": {
                "summary": "Delete a discount code by ID",
                "description": "Deleting a Discount Code produces the [DiscountCodeDeleted](ctp:api:type:DiscountCodeDeletedMessage) Message.\n\nDeprecated OAuth 2.0 Scope: `manage_orders:{projectKey}`",
                "operationId": "deleteDiscountCodeById",
                "parameters": [
                    {
                        "name": "dataErasure",
                        "in": "query",
                        "description": "Whether to erase all personal data related to the resource. Default `false`",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        },
                        "x-annotation-default": false
                    },
                    {
                        "name": "version",
                        "in": "query",
                        "description": "Expected current version of the resource, for optimistic concurrency control",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The discount code",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DiscountCode"
                                }
                            }
                        }
                    },
                    "409": {
                        "$ref": "#/components/responses/conflicting_409"
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "manage_discount_codes:{projectKey}"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "projectKey",
                    "in": "path",
                    "description": "`key` of the Project",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "id",
                    "in": "path",
                    "description": "Unique identifier of the resource",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "x-annotation-methodName": "withId"
        },
        "/{projectKey}/product-discounts": {
            "description": "Product discounts are used to change certain product prices.",
            "get": {
                "summary": "Query product discounts",
                "operationId": "listProductDiscounts",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort expression, such as `createdAt desc`. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Maximum number of results to return. Default 20, maximum 500",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        },
                        "x-annotation-default": 20
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Number of results to skip, for paging. Default 0, maximum 10000",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        },
                        "x-annotation-default": 0
                    },
                    {
                        "name": "withTotal",
                        "in": "query",
                        "description": "Whether to calculate and return `total` in the response. Default `true`",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        },
                        "x-annotation-default": true
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Query predicate that filters the results. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A paged list of product discounts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductDiscountPagedQueryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "view_product_discounts:{projectKey}",
                            "view_products:{projectKey}"
                        ]
                    }
                ]
            },
            "post": {
                "summary": "Create a product discount",
                "operationId": "createProductDiscount",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductDiscountDraft"
                            }
                        }
                    },
                    "description": "Product discount draft to create"
                },
                "responses": {
                    "201": {
                        "description": "The created product discount",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductDiscount"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "manage_product_discounts:{projectKey}",
                            "manage_products:{projectKey}"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "projectKey",
                    "in": "path",
                    "description": "`key` of the Project",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "x-annotation-updateable": "ProductDiscount",
            "x-annotation-deleteable": "ProductDiscount",
            "x-annotation-createable": "ProductDiscountDraft"
        },
        "/{projectKey}/product-discounts/key={key}": {
            "get": {
                "summary": "Get a product discount by key",
                "operationId": "getProductDiscountByKey",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The product discount",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductDiscount"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "view_product_discounts:{projectKey}",
                            "view_products:{projectKey}"
                        ]
                    }
                ]
            },
            "post": {
                "summary": "Update a product discount by key",
                "operationId": "updateProductDiscountByKey",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductDiscountUpdate"
                            }
                        }
                    },
                    "description": "Version and update actions for the product discount"
                },
                "responses": {
                    "200": {
                        "description": "The product discount",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductDiscount"
                                }
                            }
                        }
                    },
                    "409": {
                        "$ref": "#/components/responses/conflicting_409"
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "manage_product_discounts:{projectKey}",
                            "manage_products:{projectKey}"
                        ]
                    }
                ]
            },
            "delete": {
                "summary": "Delete a product discount by key",
                "operationId": "deleteProductDiscountByKey",
                "parameters": [
                    {
                        "name": "version",
                        "in": "query",
                        "description": "Expected current version of the resource, for optimistic concurrency control",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The product discount",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductDiscount"
                                }
                            }
                        }
                    },
                    "409": {
                        "$ref": "#/components/responses/conflicting_409"
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "manage_product_discounts:{projectKey}",
                            "manage_products:{projectKey}"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "projectKey",
                    "in": "path",
                    "description": "`key` of the Project",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "key",
                    "in": "path",
                    "description": "User-defined unique identifier of the resource",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "x-annotation-methodName": "withKey"
        },
        "/{projectKey}/product-discounts/matching": {
            "post": {
                "summary": "Get the product discount matching a product price",
                "description": "This endpoint can be used to simulate which Product Discounts would be applied if a specified Product Variant had a specified Price.\nGiven Product and Product Variant IDs and a Price, this endpoint will return the [ProductDiscount](ctp:api:type:ProductDiscount) that would have been applied to that Price.\n\nIf a Product Discount could not be found that could be applied to the Price of a Product Variant, a [NoMatchingProductDiscountFound](ctp:api:type:NoMatchingProductDiscountFoundError) error is returned.",
                "operationId": "getMatchingProductDiscount",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductDiscountMatchQuery"
                            }
                        }
                    },
                    "description": "Product and price to match against product discounts"
                },
                "responses": {
                    "200": {
                        "description": "The product discount",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductDiscount"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "view_product_discounts:{projectKey}",
                            "view_products:{projectKey}"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "projectKey",
                    "in": "path",
                    "description": "`key` of the Project",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/{projectKey}/product-discounts/{id}": {
            "get": {
                "summary": "Get a product discount by ID",
                "operationId": "getProductDiscountById",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The product discount",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductDiscount"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "view_product_discounts:{projectKey}",
                            "view_products:{projectKey}"
                        ]
                    }
                ]
            },
            "post": {
                "summary": "Update a product discount by ID",
                "operationId": "updateProductDiscountById",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductDiscountUpdate"
                            }
                        }
                    },
                    "description": "Version and update actions for the product discount"
                },
                "responses": {
                    "200": {
                        "description": "The product discount",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductDiscount"
                                }
                            }
                        }
                    },
                    "409": {
                        "$ref": "#/components/responses/conflicting_409"
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "manage_product_discounts:{projectKey}",
                            "manage_products:{projectKey}"
                        ]
                    }
                ]
            },
            "delete": {
                "summary": "Delete a product discount by ID",
                "operationId": "deleteProductDiscountById",
                "parameters": [
                    {
                        "name": "version",
                        "in": "query",
                        "description": "Expected current version of the resource, for optimistic concurrency control",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The product discount",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductDiscount"
                                }
                            }
                        }
                    },
                    "409": {
                        "$ref": "#/components/responses/conflicting_409"
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "manage_product_discounts:{projectKey}",
                            "manage_products:{projectKey}"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "projectKey",
                    "in": "path",
                    "description": "`key` of the Project",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "id",
                    "in": "path",
                    "description": "Unique identifier of the resource",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "x-annotation-methodName": "withId"
        },
        "/{projectKey}/tax-categories": {
            "description": "Tax Categories define how products are to be taxed in different countries.",
            "get": {
                "summary": "Query tax categories",
                "operationId": "listTaxCategories",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort expression, such as `createdAt desc`. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Maximum number of results to return. Default 20, maximum 500",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        },
                        "x-annotation-default": 20
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Number of results to skip, for paging. Default 0, maximum 10000",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        },
                        "x-annotation-default": 0
                    },
                    {
                        "name": "withTotal",
                        "in": "query",
                        "description": "Whether to calculate and return `total` in the response. Default `true`",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        },
                        "x-annotation-default": true
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Query predicate that filters the results. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A paged list of tax categories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaxCategoryPagedQueryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "view_products:{projectKey}",
                            "view_tax_categories:{projectKey}"
                        ]
                    }
                ]
            },
            "post": {
                "summary": "Create a tax category",
                "operationId": "createTaxCategory",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TaxCategoryDraft"
                            }
                        }
                    },
                    "description": "Tax category draft to create"
                },
                "responses": {
                    "201": {
                        "description": "The created tax category",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaxCategory"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "manage_products:{projectKey}",
                            "manage_tax_categories:{projectKey}"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "projectKey",
                    "in": "path",
                    "description": "`key` of the Project",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "x-annotation-updateable": "TaxCategory",
            "x-annotation-deleteable": "TaxCategory",
            "x-annotation-createable": "TaxCategoryDraft"
        },
        "/{projectKey}/tax-categories/key={key}": {
            "get": {
                "summary": "Get a tax category by key",
                "operationId": "getTaxCategoryByKey",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The tax category",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaxCategory"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "view_products:{projectKey}",
                            "view_tax_categories:{projectKey}"
                        ]
                    }
                ]
            },
            "post": {
                "summary": "Update a tax category by key",
                "operationId": "updateTaxCategoryByKey",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TaxCategoryUpdate"
                            }
                        }
                    },
                    "description": "Version and update actions for the tax category"
                },
                "responses": {
                    "200": {
                        "description": "The tax category",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaxCategory"
                                }
                            }
                        }
                    },
                    "409": {
                        "$ref": "#/components/responses/conflicting_409"
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "manage_products:{projectKey}",
                            "manage_tax_categories:{projectKey}"
                        ]
                    }
                ]
            },
            "delete": {
                "summary": "Delete a tax category by key",
                "description": "If the TaxCategory is referenced by a resource, a [ReferenceExists](ctp:api:type:ReferenceExistsError) error is returned.",
                "operationId": "deleteTaxCategoryByKey",
                "parameters": [
                    {
                        "name": "version",
                        "in": "query",
                        "description": "Expected current version of the resource, for optimistic concurrency control",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The tax category",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaxCategory"
                                }
                            }
                        }
                    },
                    "409": {
                        "$ref": "#/components/responses/conflicting_409"
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "manage_products:{projectKey}",
                            "manage_tax_categories:{projectKey}"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "projectKey",
                    "in": "path",
                    "description": "`key` of the Project",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "key",
                    "in": "path",
                    "description": "User-defined unique identifier of the resource",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "x-annotation-methodName": "withKey"
        },
        "/{projectKey}/tax-categories/{id}": {
            "get": {
                "summary": "Get a tax category by ID",
                "operationId": "getTaxCategoryById",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The tax category",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaxCategory"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
                    }
                },
                "security": [
                    {
                        "oauth_2_0": [
                            "view_products:{projectKey}",
                            "view_tax_categories:{projectKey}"
                        ]
                    }
                ]
            },
            "post": {
                "summary": "Update a tax category by ID",
                "operationId": "updateTaxCategoryById",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Reference path to expand in the response. Can be repeated",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TaxCategoryUpdate"
                            }
                        }
                    },
                    "description": "Version and update actions for the tax category"
                },
                "responses": {
                    "200": {
                        "description": "The tax category",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaxCategory"
                                }
                            }
                        }
                    },
                    "409": {
                        "$ref": "#/components/responses/conflicting_409"
                    },
                    "400": {
                        "$ref": "#/components/responses/errorable_400"
                    },
                    "401": {
                        "$ref": "#/components/responses/errorable_401"
                    },
                    "403": {
                        "$ref": "#/components/responses/errorable_403"
                    },
                    "404": {
                        "$ref": "#/components/responses/errorable_404"
                    },
                    "500": {
                        "$ref": "#/components/responses/errorable_500"
                    },
                    "502": {
                        "$ref": "#/components/responses/errorable_502"
                    },
                    "503": {
                        "$ref": "#/components/responses/errorable_503"
[...]
