openapi: 3.0.0
info:
  title: commercetools Composable Commerce API
  version: v1
servers:
- url: https://api.us-central1.gcp.commercetools.com
paths:
  /{projectKey}/cart-discounts:
    description: Cart discounts are used to change the prices of different elements
      within a cart.
    get:
      summary: Query cart discounts
      operationId: ByProjectKeyCartDiscountsGet
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: "Sort expression, such as `createdAt desc`. Can be repeated."
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: "Maximum number of results to return. Default 20, maximum 500."
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-annotation-default: 20
      - name: offset
        in: query
        description: "Number of results to skip, for paging. Default 0, maximum 10000."
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-annotation-default: 0
      - name: withTotal
        in: query
        description: Whether to calculate and return `total` in the response. Default
          `true`.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-annotation-default: true
      - name: where
        in: query
        description: Query predicate that filters the results. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: A paged list of cart discounts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartDiscountPagedQueryResponse"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "view_orders:{projectKey}"
        - "view_cart_discounts:{projectKey}"
    post:
      summary: Create a cart discount
      description: "Creating a Cart Discount produces the [CartDiscountCreated](ctp:api:type:CartDiscountCreatedMessage)\
        \ Message."
      operationId: ByProjectKeyCartDiscountsPost
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CartDiscountDraft"
      responses:
        "201":
          description: The created cart discount.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartDiscount"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "manage_orders:{projectKey}"
        - "manage_cart_discounts:{projectKey}"
    parameters:
    - name: projectKey
      in: path
      description: '`key` of the Project.'
      required: true
      style: simple
      explode: false
      schema:
        type: string
    x-annotation-updateable: CartDiscount
    x-annotation-deleteable: CartDiscount
    x-annotation-createable: CartDiscountDraft
  /{projectKey}/cart-discounts/key={key}:
    get:
      summary: Get a cart discount by key
      operationId: ByProjectKeyCartDiscountsKeyByKeyGet
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: The cart discount.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartDiscount"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "view_orders:{projectKey}"
        - "view_cart_discounts:{projectKey}"
    post:
      summary: Update a cart discount by key
      operationId: ByProjectKeyCartDiscountsKeyByKeyPost
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CartDiscountUpdate"
      responses:
        "200":
          description: The cart discount.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartDiscount"
        "409":
          $ref: "#/components/responses/conflicting_409"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "manage_orders:{projectKey}"
        - "manage_cart_discounts:{projectKey}"
    delete:
      summary: Delete a cart discount by key
      description: "Deleting a Cart Discount produces the [CartDiscountDeleted](ctp:api:type:CartDiscountDeletedMessage)\
        \ Message."
      operationId: ByProjectKeyCartDiscountsKeyByKeyDelete
      parameters:
      - name: version
        in: query
        description: "Expected current version of the resource, for optimistic concurrency\
          \ control."
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: The cart discount.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartDiscount"
        "409":
          $ref: "#/components/responses/conflicting_409"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "manage_orders:{projectKey}"
        - "manage_cart_discounts:{projectKey}"
    parameters:
    - name: projectKey
      in: path
      description: '`key` of the Project.'
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: key
      in: path
      description: User-defined unique identifier of the resource.
      required: true
      style: simple
      explode: false
      schema:
        type: string
    x-annotation-methodName: withKey
  /{projectKey}/cart-discounts/{id}:
    get:
      summary: Get a cart discount by ID
      operationId: ByProjectKeyCartDiscountsByIDGet
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: The cart discount.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartDiscount"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "view_orders:{projectKey}"
        - "view_cart_discounts:{projectKey}"
    post:
      summary: Update a cart discount by ID
      operationId: ByProjectKeyCartDiscountsByIDPost
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CartDiscountUpdate"
      responses:
        "200":
          description: The cart discount.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartDiscount"
        "409":
          $ref: "#/components/responses/conflicting_409"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "manage_orders:{projectKey}"
        - "manage_cart_discounts:{projectKey}"
    delete:
      summary: Delete a cart discount by ID
      description: "Deleting a Cart Discount produces the [CartDiscountDeleted](ctp:api:type:CartDiscountDeletedMessage)\
        \ Message."
      operationId: ByProjectKeyCartDiscountsByIDDelete
      parameters:
      - name: version
        in: query
        description: "Expected current version of the resource, for optimistic concurrency\
          \ control."
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: The cart discount.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartDiscount"
        "409":
          $ref: "#/components/responses/conflicting_409"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "manage_orders:{projectKey}"
        - "manage_cart_discounts:{projectKey}"
    parameters:
    - name: projectKey
      in: path
      description: '`key` of the Project.'
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: id
      in: path
      description: Unique identifier of the resource.
      required: true
      style: simple
      explode: false
      schema:
        type: string
    x-annotation-methodName: withId
  /{projectKey}/discount-codes:
    description: Discount Codes can be added to a discount-code to enable certain
      discount-code discounts.
    get:
      summary: Query discount codes
      description: "Deprecated OAuth 2.0 Scope: `view_orders:{projectKey}`"
      operationId: ByProjectKeyDiscountCodesGet
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: "Sort expression, such as `createdAt desc`. Can be repeated."
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: "Maximum number of results to return. Default 20, maximum 500."
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-annotation-default: 20
      - name: offset
        in: query
        description: "Number of results to skip, for paging. Default 0, maximum 10000."
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-annotation-default: 0
      - name: withTotal
        in: query
        description: Whether to calculate and return `total` in the response. Default
          `true`.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-annotation-default: true
      - name: where
        in: query
        description: Query predicate that filters the results. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: A paged list of discount codes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountCodePagedQueryResponse"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "view_discount_codes:{projectKey}"
    post:
      summary: Create a discount code
      description: |-
        Creating a Discount Code produces the [DiscountCodeCreated](ctp:api:type:DiscountCodeCreatedMessage) Message.

        Deprecated OAuth 2.0 Scope: `manage_orders:{projectKey}`
      operationId: ByProjectKeyDiscountCodesPost
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscountCodeDraft"
      responses:
        "201":
          description: The created discount code.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountCode"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "manage_discount_codes:{projectKey}"
    parameters:
    - name: projectKey
      in: path
      description: '`key` of the Project.'
      required: true
      style: simple
      explode: false
      schema:
        type: string
    x-annotation-updateable: DiscountCode
    x-annotation-deleteable: DiscountCode
    x-annotation-createable: DiscountCodeDraft
  /{projectKey}/discount-codes/{id}:
    get:
      summary: Get a discount code by ID
      description: "Deprecated OAuth 2.0 Scope: `view_orders:{projectKey}`"
      operationId: ByProjectKeyDiscountCodesByIDGet
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: The discount code.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountCode"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - " view_discount_codes:{projectKey}"
    post:
      summary: Update a discount code by ID
      description: "Deprecated OAuth 2.0 Scope: `manage_orders:{projectKey}`"
      operationId: ByProjectKeyDiscountCodesByIDPost
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscountCodeUpdate"
      responses:
        "200":
          description: The discount code.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountCode"
        "409":
          $ref: "#/components/responses/conflicting_409"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "manage_discount_codes:{projectKey}"
    delete:
      summary: Delete a discount code by ID
      description: |-
        Deleting a Discount Code produces the [DiscountCodeDeleted](ctp:api:type:DiscountCodeDeletedMessage) Message.

        Deprecated OAuth 2.0 Scope: `manage_orders:{projectKey}`
      operationId: ByProjectKeyDiscountCodesByIDDelete
      parameters:
      - name: dataErasure
        in: query
        description: Whether to erase all personal data related to the resource. Default
          `false`.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-annotation-default: false
      - name: version
        in: query
        description: "Expected current version of the resource, for optimistic concurrency\
          \ control."
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: The discount code.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountCode"
        "409":
          $ref: "#/components/responses/conflicting_409"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "manage_discount_codes:{projectKey}"
    parameters:
    - name: projectKey
      in: path
      description: '`key` of the Project.'
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: id
      in: path
      description: Unique identifier of the resource.
      required: true
      style: simple
      explode: false
      schema:
        type: string
    x-annotation-methodName: withId
  /{projectKey}/product-discounts:
    description: Product discounts are used to change certain product prices.
    get:
      summary: Query product discounts
      operationId: ByProjectKeyProductDiscountsGet
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: "Sort expression, such as `createdAt desc`. Can be repeated."
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: "Maximum number of results to return. Default 20, maximum 500."
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-annotation-default: 20
      - name: offset
        in: query
        description: "Number of results to skip, for paging. Default 0, maximum 10000."
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-annotation-default: 0
      - name: withTotal
        in: query
        description: Whether to calculate and return `total` in the response. Default
          `true`.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-annotation-default: true
      - name: where
        in: query
        description: Query predicate that filters the results. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: A paged list of product discounts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductDiscountPagedQueryResponse"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "view_product_discounts:{projectKey}"
        - "view_products:{projectKey}"
    post:
      summary: Create a product discount
      operationId: ByProjectKeyProductDiscountsPost
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductDiscountDraft"
      responses:
        "201":
          description: The created product discount.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductDiscount"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "manage_product_discounts:{projectKey}"
        - "manage_products:{projectKey}"
    parameters:
    - name: projectKey
      in: path
      description: '`key` of the Project.'
      required: true
      style: simple
      explode: false
      schema:
        type: string
    x-annotation-updateable: ProductDiscount
    x-annotation-deleteable: ProductDiscount
    x-annotation-createable: ProductDiscountDraft
  /{projectKey}/product-discounts/key={key}:
    get:
      summary: Get a product discount by key
      operationId: ByProjectKeyProductDiscountsKeyByKeyGet
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: The product discount.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductDiscount"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "view_product_discounts:{projectKey}"
        - "view_products:{projectKey}"
    post:
      summary: Update a product discount by key
      operationId: ByProjectKeyProductDiscountsKeyByKeyPost
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductDiscountUpdate"
      responses:
        "200":
          description: The product discount.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductDiscount"
        "409":
          $ref: "#/components/responses/conflicting_409"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "manage_product_discounts:{projectKey}"
        - "manage_products:{projectKey}"
    delete:
      summary: Delete a product discount by key
      operationId: ByProjectKeyProductDiscountsKeyByKeyDelete
      parameters:
      - name: version
        in: query
        description: "Expected current version of the resource, for optimistic concurrency\
          \ control."
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: The product discount.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductDiscount"
        "409":
          $ref: "#/components/responses/conflicting_409"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "manage_product_discounts:{projectKey}"
        - "manage_products:{projectKey}"
    parameters:
    - name: projectKey
      in: path
      description: '`key` of the Project.'
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: key
      in: path
      description: User-defined unique identifier of the resource.
      required: true
      style: simple
      explode: false
      schema:
        type: string
    x-annotation-methodName: withKey
  /{projectKey}/product-discounts/matching:
    post:
      summary: Get the product discount matching a product price
      description: |-
        This endpoint can be used to simulate which Product Discounts would be applied if a specified Product Variant had a specified Price.
        Given Product and Product Variant IDs and a Price, this endpoint will return the [ProductDiscount](ctp:api:type:ProductDiscount) that would have been applied to that Price.

        If a Product Discount could not be found that could be applied to the Price of a Product Variant, a [NoMatchingProductDiscountFound](ctp:api:type:NoMatchingProductDiscountFoundError) error is returned.
      operationId: ByProjectKeyProductDiscountsMatchingPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductDiscountMatchQuery"
      responses:
        "200":
          description: The product discount.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductDiscount"
        "404":
          $ref: "#/components/responses/errorable_404"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "view_product_discounts:{projectKey}"
        - "view_products:{projectKey}"
    parameters:
    - name: projectKey
      in: path
      description: '`key` of the Project.'
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /{projectKey}/product-discounts/{id}:
    get:
      summary: Get a product discount by ID
      operationId: ByProjectKeyProductDiscountsByIDGet
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: The product discount.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductDiscount"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "view_product_discounts:{projectKey}"
        - "view_products:{projectKey}"
    post:
      summary: Update a product discount by ID
      operationId: ByProjectKeyProductDiscountsByIDPost
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductDiscountUpdate"
      responses:
        "200":
          description: The product discount.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductDiscount"
        "409":
          $ref: "#/components/responses/conflicting_409"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "manage_product_discounts:{projectKey}"
        - "manage_products:{projectKey}"
    delete:
      summary: Delete a product discount by ID
      operationId: ByProjectKeyProductDiscountsByIDDelete
      parameters:
      - name: version
        in: query
        description: "Expected current version of the resource, for optimistic concurrency\
          \ control."
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: The product discount.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductDiscount"
        "409":
          $ref: "#/components/responses/conflicting_409"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "manage_product_discounts:{projectKey}"
        - "manage_products:{projectKey}"
    parameters:
    - name: projectKey
      in: path
      description: '`key` of the Project.'
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: id
      in: path
      description: Unique identifier of the resource.
      required: true
      style: simple
      explode: false
      schema:
        type: string
    x-annotation-methodName: withId
  /{projectKey}/tax-categories:
    description: Tax Categories define how products are to be taxed in different countries.
    get:
      summary: Query tax categories
      operationId: ByProjectKeyTaxCategoriesGet
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: "Sort expression, such as `createdAt desc`. Can be repeated."
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: "Maximum number of results to return. Default 20, maximum 500."
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-annotation-default: 20
      - name: offset
        in: query
        description: "Number of results to skip, for paging. Default 0, maximum 10000."
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-annotation-default: 0
      - name: withTotal
        in: query
        description: Whether to calculate and return `total` in the response. Default
          `true`.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-annotation-default: true
      - name: where
        in: query
        description: Query predicate that filters the results. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: A paged list of tax categories.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaxCategoryPagedQueryResponse"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "view_products:{projectKey}"
        - "view_tax_categories:{projectKey}"
    post:
      summary: Create a tax category
      operationId: ByProjectKeyTaxCategoriesPost
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaxCategoryDraft"
      responses:
        "201":
          description: The created tax category.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaxCategory"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "manage_products:{projectKey}"
        - "manage_tax_categories:{projectKey}"
    parameters:
    - name: projectKey
      in: path
      description: '`key` of the Project.'
      required: true
      style: simple
      explode: false
      schema:
        type: string
    x-annotation-updateable: TaxCategory
    x-annotation-deleteable: TaxCategory
    x-annotation-createable: TaxCategoryDraft
  /{projectKey}/tax-categories/key={key}:
    get:
      summary: Get a tax category by key
      operationId: ByProjectKeyTaxCategoriesKeyByKeyGet
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: The tax category.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaxCategory"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "view_products:{projectKey}"
        - "view_tax_categories:{projectKey}"
    post:
      summary: Update a tax category by key
      operationId: ByProjectKeyTaxCategoriesKeyByKeyPost
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaxCategoryUpdate"
      responses:
        "200":
          description: The tax category.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaxCategory"
        "409":
          $ref: "#/components/responses/conflicting_409"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "manage_products:{projectKey}"
        - "manage_tax_categories:{projectKey}"
    delete:
      summary: Delete a tax category by key
      description: "If the TaxCategory is referenced by a resource, a [ReferenceExists](ctp:api:type:ReferenceExistsError)\
        \ error is returned."
      operationId: ByProjectKeyTaxCategoriesKeyByKeyDelete
      parameters:
      - name: version
        in: query
        description: "Expected current version of the resource, for optimistic concurrency\
          \ control."
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: The tax category.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaxCategory"
        "409":
          $ref: "#/components/responses/conflicting_409"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "manage_products:{projectKey}"
        - "manage_tax_categories:{projectKey}"
    parameters:
    - name: projectKey
      in: path
      description: '`key` of the Project.'
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: key
      in: path
      description: User-defined unique identifier of the resource.
      required: true
      style: simple
      explode: false
      schema:
        type: string
    x-annotation-methodName: withKey
  /{projectKey}/tax-categories/{id}:
    get:
      summary: Get a tax category by ID
      operationId: ByProjectKeyTaxCategoriesByIDGet
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: The tax category.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaxCategory"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "view_products:{projectKey}"
        - "view_tax_categories:{projectKey}"
    post:
      summary: Update a tax category by ID
      operationId: ByProjectKeyTaxCategoriesByIDPost
      parameters:
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaxCategoryUpdate"
      responses:
        "200":
          description: The tax category.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaxCategory"
        "409":
          $ref: "#/components/responses/conflicting_409"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "manage_products:{projectKey}"
        - "manage_tax_categories:{projectKey}"
    delete:
      summary: Delete a tax category by ID
      description: "If the TaxCategory is referenced by a resource, a [ReferenceExists](ctp:api:type:ReferenceExistsError)\
        \ error is returned."
      operationId: ByProjectKeyTaxCategoriesByIDDelete
      parameters:
      - name: version
        in: query
        description: "Expected current version of the resource, for optimistic concurrency\
          \ control."
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: expand
        in: query
        description: Reference path to expand in the response. Can be repeated.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: The tax category.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaxCategory"
        "409":
          $ref: "#/components/responses/conflicting_409"
        "400":
          $ref: "#/components/responses/errorable_400"
        "401":
          $ref: "#/components/responses/errorable_401"
        "403":
          $ref: "#/components/responses/errorable_403"
        "404":
          $ref: "#/components/responses/errorable_404"
        "500":
          $ref: "#/components/responses/errorable_500"
        "502":
          $ref: "#/components/responses/errorable_502"
        "503":
          $ref: "#/components/responses/errorable_503"
      security:
      - oauth_2_0:
        - "manage_products:{projectKey}"
        - "manage_tax_categories:{projectKey}"
    parameters:
    - name: projectKey
      in: path
      description: '`key` of the Project.'
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: id
      in: path
      description: Unique identifier of the resource.
      required: true
      style: simple
      explode: false
      schema:
        type: string
    x-annotation-methodName: withId
components:
  schemas:
    AgentFileNotProcessedWarning:
      allOf:
      - $ref: "#/components/schemas/WarningObject"
      - required:
        - code
        - fileName
        - message
        type: object
        properties:
          code:
            type: string
          message:
            type: string
          fileName:
            type: string
    AgentProductsNotFoundWarning:
      allOf:
      - $ref: "#/components/schemas/WarningObject"
      - required:
        - code
        - message
        - products
        type: object
        properties:
          code:
            type: string
          message:
            type: string
          products:
            type: array
            items:
              type: string
    CartDiscount:
      allOf:
      - $ref: "#/components/schemas/BaseResource"
      - required:
        - cartPredicate
        - createdAt
        - id
        - isActive
        - lastModifiedAt
        - name
        - recurringOrderScope
        - references
        - requiresDiscountCode
        - sortOrder
        - stackingMode
        - stores
        - value
        - version
        type: object
        properties:
          id:
            type: string
          version:
            type: integer
            format: int64
          createdAt:
            type: string
            format: datetime
          lastModifiedAt:
            type: string
            format: datetime
          lastModifiedBy:
            $ref: "#/components/schemas/LastModifiedBy"
          createdBy:
            $ref: "#/components/schemas/CreatedBy"
          name:
            $ref: "#/components/schemas/LocalizedString"
          key:
            type: string
          description:
            $ref: "#/components/schemas/LocalizedString"
          value:
            $ref: "#/components/schemas/CartDiscountValue"
          cartPredicate:
            type: string
          target:
            $ref: "#/components/schemas/CartDiscountTarget"
          sortOrder:
            type: string
          stores:
            type: array
            items:
              $ref: "#/components/schemas/StoreKeyReference"
          isActive:
            type: boolean
          validFrom:
            type: string
            format: datetime
          validUntil:
            type: string
            format: datetime
          requiresDiscountCode:
            type: boolean
          references:
            type: array
            items:
              $ref: "#/components/schemas/Reference"
          stackingMode:
            $ref: "#/components/schemas/StackingMode"
          custom:
            $ref: "#/components/schemas/CustomFields"
          discountGroup:
            $ref: "#/components/schemas/DiscountGroupReference"
          recurringOrderScope:
            $ref: "#/components/schemas/RecurringOrderScope"
    CartDiscountCustomLineItemsTarget:
      allOf:
      - $ref: "#/components/schemas/CartDiscountTarget"
      - required:
        - predicate
        type: object
        properties:
          type:
            type: string
          predicate:
            type: string
    CartDiscountDraft:
      required:
      - cartPredicate
      - name
      - value
      type: object
      properties:
        name:
          $ref: "#/components/schemas/LocalizedString"
        key:
          type: string
        description:
          $ref: "#/components/schemas/LocalizedString"
        value:
          $ref: "#/components/schemas/CartDiscountValueDraft"
        cartPredicate:
          type: string
        target:
          $ref: "#/components/schemas/CartDiscountTarget"
        sortOrder:
          type: string
        stores:
          type: array
          items:
            $ref: "#/components/schemas/StoreResourceIdentifier"
        isActive:
          type: boolean
        validFrom:
          type: string
          format: datetime
        validUntil:
          type: string
          format: datetime
        requiresDiscountCode:
          type: boolean
        stackingMode:
          $ref: "#/components/schemas/StackingMode"
        custom:
          $ref: "#/components/schemas/CustomFieldsDraft"
        discountGroup:
          $ref: "#/components/schemas/DiscountGroupResourceIdentifier"
        recurringOrderScope:
          $ref: "#/components/schemas/RecurringOrderScopeDraft"
    CartDiscountLineItemsTarget:
      allOf:
      - $ref: "#/components/schemas/CartDiscountTarget"
      - required:
        - predicate
        type: object
        properties:
          type:
            type: string
          predicate:
            type: string
    CartDiscountPagedQueryResponse:
      required:
      - count
      - limit
      - offset
      - results
      type: object
      properties:
        limit:
          type: integer
          format: int64
        offset:
          type: integer
          format: int64
        count:
          type: integer
          format: int64
        total:
          type: integer
          format: int64
        results:
          type: array
          items:
            $ref: "#/components/schemas/CartDiscount"
    CartDiscountPatternTarget:
      allOf:
      - $ref: "#/components/schemas/CartDiscountTarget"
      - required:
        - selectionMode
        - targetPattern
        - triggerPattern
        type: object
        properties:
          type:
            type: string
          triggerPattern:
            type: array
            items:
              $ref: "#/components/schemas/PatternComponent"
          targetPattern:
            type: array
            items:
              $ref: "#/components/schemas/PatternComponent"
          maxOccurrence:
            type: integer
            format: int32
          selectionMode:
            $ref: "#/components/schemas/SelectionMode"
    CartDiscountReference:
      allOf:
      - $ref: "#/components/schemas/Reference"
      - required:
        - id
        - typeId
        type: object
        properties:
          typeId:
            $ref: "#/components/schemas/ReferenceTypeId"
          id:
            type: string
          obj:
            $ref: "#/components/schemas/CartDiscount"
    CartDiscountResourceIdentifier:
      allOf:
      - $ref: "#/components/schemas/ResourceIdentifier"
      - type: object
        properties:
          typeId:
            $ref: "#/components/schemas/ReferenceTypeId"
          id:
            type: string
          key:
            type: string
    CartDiscountShippingCostTarget:
      allOf:
      - $ref: "#/components/schemas/CartDiscountTarget"
      - type: object
        properties:
          type:
            type: string
    CartDiscountTarget:
      required:
      - type
      type: object
      properties:
        type:
          type: string
      discriminator:
        propertyName: type
        mapping:
          customLineItems: "#/components/schemas/CartDiscountCustomLineItemsTarget"
          lineItems: "#/components/schemas/CartDiscountLineItemsTarget"
          pattern: "#/components/schemas/CartDiscountPatternTarget"
          shipping: "#/components/schemas/CartDiscountShippingCostTarget"
          totalPrice: "#/components/schemas/CartDiscountTotalPriceTarget"
          multiBuyCustomLineItems: "#/components/schemas/MultiBuyCustomLineItemsTarget"
          multiBuyLineItems: "#/components/schemas/MultiBuyLineItemsTarget"
    CartDiscountTotalPriceTarget:
      allOf:
      - $ref: "#/components/schemas/CartDiscountTarget"
      - type: object
        properties:
          type:
            type: string
    CartDiscountUpdate:
      required:
      - actions
      - version
      type: object
      properties:
        version:
          type: integer
          format: int64
        actions:
          type: array
          items:
            $ref: "#/components/schemas/CartDiscountUpdateAction"
    CartDiscountUpdateAction:
      required:
      - action
      type: object
      properties:
        action:
          type: string
      discriminator:
        propertyName: action
        mapping:
          addStore: "#/components/schemas/CartDiscountAddStoreAction"
          changeCartPredicate: "#/components/schemas/CartDiscountChangeCartPredicateAction"
          changeIsActive: "#/components/schemas/CartDiscountChangeIsActiveAction"
          changeName: "#/components/schemas/CartDiscountChangeNameAction"
          changeRequiresDiscountCode: "#/components/schemas/CartDiscountChangeRequiresDiscountCodeAction"
          changeSortOrder: "#/components/schemas/CartDiscountChangeSortOrderAction"
          changeStackingMode: "#/components/schemas/CartDiscountChangeStackingModeAction"
          changeTarget: "#/components/schemas/CartDiscountChangeTargetAction"
          changeValue: "#/components/schemas/CartDiscountChangeValueAction"
          removeStore: "#/components/schemas/CartDiscountRemoveStoreAction"
          setCustomField: "#/components/schemas/CartDiscountSetCustomFieldAction"
          setCustomType: "#/components/schemas/CartDiscountSetCustomTypeAction"
          setDescription: "#/components/schemas/CartDiscountSetDescriptionAction"
          setDiscountGroup: "#/components/schemas/CartDiscountSetDiscountGroupAction"
          setKey: "#/components/schemas/CartDiscountSetKeyAction"
          setRecurringOrderScope: "#/components/schemas/CartDiscountSetRecurringOrderScopeAction"
          setStores: "#/components/schemas/CartDiscountSetStoresAction"
          setValidFrom: "#/components/schemas/CartDiscountSetValidFromAction"
          setValidFromAndUntil: "#/components/schemas/CartDiscountSetValidFromAndUntilAction"
          setValidUntil: "#/components/schemas/CartDiscountSetValidUntilAction"
    CartDiscountValue:
      required:
      - type
      type: object
      properties:
        type:
          type: string
      discriminator:
        propertyName: type
        mapping:
          absolute: "#/components/schemas/CartDiscountValueAbsolute"
          fixed: "#/components/schemas/CartDiscountValueFixed"
          giftLineItem: "#/components/schemas/CartDiscountValueGiftLineItem"
          relative: "#/components/schemas/CartDiscountValueRelative"
    CartDiscountValueAbsolute:
      allOf:
      - $ref: "#/components/schemas/CartDiscountValue"
      - required:
        - money
        type: object
        properties:
          type:
            type: string
          money:
            type: array
            items:
              $ref: "#/components/schemas/CentPrecisionMoney"
          applicationMode:
            $ref: "#/components/schemas/DiscountApplicationMode"
    CartDiscountValueAbsoluteDraft:
      allOf:
      - $ref: "#/components/schemas/CartDiscountValueDraft"
      - required:
        - money
        type: object
        properties:
          type:
            type: string
          money:
            type: array
            items:
              $ref: "#/components/schemas/Money"
          applicationMode:
            $ref: "#/components/schemas/DiscountApplicationMode"
    CartDiscountValueDraft:
      required:
      - type
      type: object
      properties:
        type:
          type: string
      discriminator:
        propertyName: type
        mapping:
          absolute: "#/components/schemas/CartDiscountValueAbsoluteDraft"
          fixed: "#/components/schemas/CartDiscountValueFixedDraft"
          giftLineItem: "#/components/schemas/CartDiscountValueGiftLineItemDraft"
          relative: "#/components/schemas/CartDiscountValueRelativeDraft"
    CartDiscountValueFixed:
      allOf:
      - $ref: "#/components/schemas/CartDiscountValue"
      - required:
        - money
        type: object
        properties:
          type:
            type: string
          money:
            type: array
            items:
              $ref: "#/components/schemas/TypedMoney"
          applicationMode:
            $ref: "#/components/schemas/DiscountApplicationMode"
    CartDiscountValueFixedDraft:
      allOf:
      - $ref: "#/components/schemas/CartDiscountValueDraft"
      - required:
        - money
        type: object
        properties:
          type:
            type: string
          money:
            type: array
            items:
              $ref: "#/components/schemas/TypedMoneyDraft"
          applicationMode:
            $ref: "#/components/schemas/DiscountApplicationMode"
    CartDiscountValueGiftLineItem:
      allOf:
      - $ref: "#/components/schemas/CartDiscountValue"
      - required:
        - product
        - variantId
        type: object
        properties:
          type:
            type: string
          product:
            $ref: "#/components/schemas/ProductReference"
          variantId:
            type: integer
            format: int64
          supplyChannel:
            $ref: "#/components/schemas/ChannelReference"
          distributionChannel:
            $ref: "#/components/schemas/ChannelReference"
    CartDiscountValueGiftLineItemDraft:
      allOf:
      - $ref: "#/components/schemas/CartDiscountValueDraft"
      - required:
        - product
        - variantId
        type: object
        properties:
          type:
            type: string
          product:
            $ref: "#/components/schemas/ProductResourceIdentifier"
          variantId:
            type: integer
            format: int64
          supplyChannel:
            $ref: "#/components/schemas/ChannelResourceIdentifier"
          distributionChannel:
            $ref: "#/components/schemas/ChannelResourceIdentifier"
    CartDiscountValueRelative:
      allOf:
      - $ref: "#/components/schemas/CartDiscountValue"
      - required:
        - permyriad
        type: object
        properties:
          type:
            type: string
          permyriad:
            type: integer
            format: int64
          applicationMode:
            $ref: "#/components/schemas/DiscountApplicationMode"
    CartDiscountValueRelativeDraft:
      allOf:
      - $ref: "#/components/schemas/CartDiscountValueDraft"
      - required:
        - permyriad
        type: object
        properties:
          type:
            type: string
          permyriad:
            type: integer
            format: int64
          applicationMode:
            $ref: "#/components/schemas/DiscountApplicationMode"
    CountOnCustomLineItemUnits:
      allOf:
      - $ref: "#/components/schemas/PatternComponent"
      - required:
        - predicate
        type: object
        properties:
          type:
            type: string
          predicate:
            type: string
          minCount:
            type: integer
            format: int32
          maxCount:
            type: integer
            format: int32
          excludeCount:
            type: integer
            format: int32
    CountOnLineItemUnits:
      allOf:
      - $ref: "#/components/schemas/PatternComponent"
      - required:
        - predicate
        type: object
        properties:
          type:
            type: string
          predicate:
            type: string
          minCount:
            type: integer
            format: int32
          maxCount:
            type: integer
            format: int32
          excludeCount:
            type: integer
            format: int32
    DiscountApplicationMode:
      type: string
      enum:
      - ProportionateDistribution
      - EvenDistribution
      - IndividualApplication
      x-annotation-package: CartDiscount
      x-annotation-enumDescriptions:
        ProportionateDistribution: Distributes the Discount proportionately across
          eligible Line Items or Custom Line Items.
        EvenDistribution: Distributes the Discount evenly across eligible Line Items
          or Custom Line Items.
        IndividualApplication: Applies the Discount individually to eligible Line
          Item or Custom Line Item.
    MultiBuyCustomLineItemsTarget:
      allOf:
      - $ref: "#/components/schemas/CartDiscountTarget"
      - required:
        - discountedQuantity
        - predicate
        - selectionMode
        - triggerQuantity
        type: object
        properties:
          type:
            type: string
          predicate:
            type: string
          triggerQuantity:
            type: integer
            format: int32
          discountedQuantity:
            type: integer
            format: int32
          maxOccurrence:
            type: integer
            format: int32
          selectionMode:
            $ref: "#/components/schemas/SelectionMode"
    MultiBuyLineItemsTarget:
      allOf:
      - $ref: "#/components/schemas/CartDiscountTarget"
      - required:
        - discountedQuantity
        - predicate
        - selectionMode
        - triggerQuantity
        type: object
        properties:
          type:
            type: string
          predicate:
            type: string
          triggerQuantity:
            type: integer
            format: int32
          discountedQuantity:
            type: integer
            format: int32
          maxOccurrence:
            type: integer
            format: int32
          selectionMode:
            $ref: "#/components/schemas/SelectionMode"
    PatternComponent:
      required:
      - type
      type: object
      properties:
        type:
          type: string
      discriminator:
        propertyName: type
        mapping:
          CountOnCustomLineItemUnits: "#/components/schemas/CountOnCustomLineItemUnits"
          CountOnLineItemUnits: "#/components/schemas/CountOnLineItemUnits"
    SelectionMode:
      type: string
      enum:
      - Cheapest
      - MostExpensive
      x-annotation-package: CartDiscount
      x-annotation-enumDescriptions:
        Cheapest: Select the cheapest items.
        MostExpensive: Select the most expensive items.
    StackingMode:
      type: string
      enum:
      - Stacking
      - StopAfterThisDiscount
      x-annotation-package: CartDiscount
      x-annotation-enumDescriptions:
        Stacking: Applies other matching Discounts after applying this one.
        StopAfterThisDiscount: Doesn't apply any more matching Discounts after this
          one if it's successfully applied.
    CartDiscountAddStoreAction:
      allOf:
      - $ref: "#/components/schemas/CartDiscountUpdateAction"
      - required:
        - store
        type: object
        properties:
          action:
            type: string
          store:
            $ref: "#/components/schemas/StoreResourceIdentifier"
    CartDiscountChangeCartPredicateAction:
      allOf:
      - $ref: "#/components/schemas/CartDiscountUpdateAction"
      - required:
        - cartPredicate
        type: object
        properties:
          action:
            type: string
          cartPredicate:
            type: string
    CartDiscountChangeIsActiveAction:
      allOf:
      - $ref: "#/components/schemas/CartDiscountUpdateAction"
      - required:
        - isActive
        type: object
        properties:
          action:
            type: string
          isActive:
            type: boolean
    CartDiscountChangeNameAction:
      allOf:
      - $ref: "#/components/schemas/CartDiscountUpdateAction"
      - required:
        - name
        type: object
        properties:
          action:
            type: string
          name:
            $ref: "#/components/schemas/LocalizedString"
    CartDiscountChangeRequiresDiscountCodeAction:
      allOf:
      - $ref: "#/components/schemas/CartDiscountUpdateAction"
      - required:
        - requiresDiscountCode
        type: object
        properties:
          action:
            type: string
          requiresDiscountCode:
            type: boolean
    CartDiscountChangeSortOrderAction:
      allOf:
      - $ref: "#/components/schemas/CartDiscountUpdateAction"
      - required:
        - sortOrder
        type: object
        properties:
          action:
            type: string
          sortOrder:
            type: string
    CartDiscountChangeStackingModeAction:
      allOf:
      - $ref: "#/components/schemas/CartDiscountUpdateAction"
      - required:
        - stackingMode
        type: object
        properties:
          action:
            type: string
          stackingMode:
            $ref: "#/components/schemas/StackingMode"
    CartDiscountChangeTargetAction:
      allOf:
      - $ref: "#/components/schemas/CartDiscountUpdateAction"
      - required:
        - target
        type: object
        properties:
          action:
            type: string
          target:
            $ref: "#/components/schemas/CartDiscountTarget"
    CartDiscountChangeValueAction:
      allOf:
      - $ref: "#/components/schemas/CartDiscountUpdateAction"
      - required:
        - value
        type: object
        properties:
          action:
            type: string
          value:
            $ref: "#/components/schemas/CartDiscountValueDraft"
    CartDiscountRemoveStoreAction:
      allOf:
      - $ref: "#/components/schemas/CartDiscountUpdateAction"
      - required:
        - store
        type: object
        properties:
          action:
            type: string
          store:
            $ref: "#/components/schemas/StoreResourceIdentifier"
    CartDiscountSetCustomFieldAction:
      allOf:
      - $ref: "#/components/schemas/CartDiscountUpdateAction"
      - required:
        - name
        type: object
        properties:
          action:
            type: string
          name:
            type: string
          value: {}
    CartDiscountSetCustomTypeAction:
      allOf:
      - $ref: "#/components/schemas/CartDiscountUpdateAction"
      - type: object
        properties:
          action:
            type: string
          type:
            $ref: "#/components/schemas/TypeResourceIdentifier"
          fields:
            $ref: "#/components/schemas/FieldContainer"
    CartDiscountSetDescriptionAction:
      allOf:
      - $ref: "#/components/schemas/CartDiscountUpdateAction"
      - type: object
        properties:
          action:
            type: string
          description:
            $ref: "#/components/schemas/LocalizedString"
    CartDiscountSetDiscountGroupAction:
      allOf:
      - $ref: "#/components/schemas/CartDiscountUpdateAction"
      - type: object
        properties:
          action:
            type: string
          discountGroup:
            $ref: "#/components/schemas/DiscountGroupResourceIdentifier"
          sortOrder:
            type: string
    CartDiscountSetKeyAction:
      allOf:
      - $ref: "#/components/schemas/CartDiscountUpdateAction"
      - type: object
        properties:
          action:
            type: string
          key:
            type: string
    CartDiscountSetRecurringOrderScopeAction:
      allOf:
      - $ref: "#/components/schemas/CartDiscountUpdateAction"
      - required:
        - recurringOrderScope
        type: object
        properties:
          action:
            type: string
          recurringOrderScope:
            $ref: "#/components/schemas/RecurringOrderScopeDraft"
    CartDiscountSetStoresAction:
      allOf:
      - $ref: "#/components/schemas/CartDiscountUpdateAction"
      - required:
        - stores
        type: object
        properties:
          action:
            type: string
          stores:
            type: array
            items:
              $ref: "#/components/schemas/StoreResourceIdentifier"
    CartDiscountSetValidFromAction:
      allOf:
      - $ref: "#/components/schemas/CartDiscountUpdateAction"
      - type: object
        properties:
          action:
            type: string
          validFrom:
            type: string
            format: datetime
    CartDiscountSetValidFromAndUntilAction:
      allOf:
      - $ref: "#/components/schemas/CartDiscountUpdateAction"
      - type: object
        properties:
          action:
            type: string
          validFrom:
            type: string
            format: datetime
          validUntil:
            type: string
            format: datetime
    CartDiscountSetValidUntilAction:
      allOf:
      - $ref: "#/components/schemas/CartDiscountUpdateAction"
      - type: object
        properties:
          action:
            type: string
          validUntil:
            type: string
            format: datetime
    Category:
      allOf:
      - $ref: "#/components/schemas/BaseResource"
      - required:
        - ancestors
        - createdAt
        - id
        - lastModifiedAt
        - name
        - orderHint
        - slug
        - version
        type: object
        properties:
          id:
            type: string
          version:
            type: integer
            format: int64
          createdAt:
            type: string
            format: datetime
          lastModifiedAt:
            type: string
            format: datetime
          lastModifiedBy:
            $ref: "#/components/schemas/LastModifiedBy"
          createdBy:
            $ref: "#/components/schemas/CreatedBy"
          name:
            $ref: "#/components/schemas/LocalizedString"
          slug:
            $ref: "#/components/schemas/LocalizedString"
          description:
            $ref: "#/components/schemas/LocalizedString"
          ancestors:
            type: array
            items:
              $ref: "#/components/schemas/CategoryReference"
          parent:
            $ref: "#/components/schemas/CategoryReference"
          orderHint:
            type: string
          externalId:
            type: string
          metaTitle:
            $ref: "#/components/schemas/LocalizedString"
          metaDescription:
            $ref: "#/components/schemas/LocalizedString"
          metaKeywords:
            $ref: "#/components/schemas/LocalizedString"
          custom:
            $ref: "#/components/schemas/CustomFields"
          assets:
            type: array
            items:
              $ref: "#/components/schemas/Asset"
          key:
            type: string
    CategoryReference:
      allOf:
      - $ref: "#/components/schemas/Reference"
      - required:
        - id
        - typeId
        type: object
        properties:
          typeId:
            $ref: "#/components/schemas/ReferenceTypeId"
          id:
            type: string
          obj:
            $ref: "#/components/schemas/Category"
    Channel:
      allOf:
      - $ref: "#/components/schemas/BaseResource"
      - required:
        - createdAt
        - id
        - key
        - lastModifiedAt
        - roles
        - version
        type: object
        properties:
          id:
            type: string
          version:
            type: integer
            format: int64
          createdAt:
            type: string
            format: datetime
          lastModifiedAt:
            type: string
            format: datetime
          lastModifiedBy:
            $ref: "#/components/schemas/LastModifiedBy"
          createdBy:
            $ref: "#/components/schemas/CreatedBy"
          key:
            type: string
          roles:
            type: array
            items:
              $ref: "#/components/schemas/ChannelRoleEnum"
          name:
            $ref: "#/components/schemas/LocalizedString"
          description:
            $ref: "#/components/schemas/LocalizedString"
          address:
            $ref: "#/components/schemas/Address"
          reviewRatingStatistics:
            $ref: "#/components/schemas/ReviewRatingStatistics"
          custom:
            $ref: "#/components/schemas/CustomFields"
          geoLocation:
            $ref: "#/components/schemas/GeoJson"
    ChannelReference:
      allOf:
      - $ref: "#/components/schemas/Reference"
      - required:
        - id
        - typeId
        type: object
        properties:
          typeId:
            $ref: "#/components/schemas/ReferenceTypeId"
          id:
            type: string
          obj:
            $ref: "#/components/schemas/Channel"
    ChannelResourceIdentifier:
      allOf:
      - $ref: "#/components/schemas/ResourceIdentifier"
      - type: object
        properties:
          typeId:
            $ref: "#/components/schemas/ReferenceTypeId"
          id:
            type: string
          key:
            type: string
    ChannelRoleEnum:
      type: string
      enum:
      - InventorySupply
      - ProductDistribution
      - OrderExport
      - OrderImport
      - Primary
      x-annotation-package: Channel
      x-annotation-enumDescriptions:
        InventorySupply: "Channel can be used to track inventory entries (for example,\
          \ Channels with this role can be treated as warehouses).n"
        ProductDistribution: "Channel can be used to expose Products to a specific\
          \ distribution Channel.nThe Channel can be used by a Cart to [select](/api/pricing-and-discounts-overview#line-item-price-selection)\
          \ a Product Price.n"
        OrderExport: "Channel identifies a synchronization destination used when storing\
          \ export information in [SyncInfo](ctp:api:type:SyncInfo).nYou can reference\
          \ it with [Update SyncInfo](ctp:api:type:OrderUpdateSyncInfoAction) on Orders\
          \ and Order Edits.n"
        OrderImport: "Channel identifies a synchronization destination used when storing\
          \ import information in [SyncInfo](ctp:api:type:SyncInfo).nYou can reference\
          \ it with [Update SyncInfo](ctp:api:type:OrderUpdateSyncInfoAction) on Orders\
          \ and Order Edits.n"
        Primary: "Marks the Channel as the default or preferred Channel among Channels\
          \ with the same role.nIt can be combined with another role, for example\
          \ `InventorySupply`.n"
    Address:
      allOf:
      - $ref: "#/components/schemas/BaseAddress"
      - type: object
        properties:
          id:
            type: string
          key:
            type: string
          country:
            $ref: "#/components/schemas/CountryCode"
          title:
            type: string
          salutation:
            type: string
          firstName:
            type: string
          lastName:
            type: string
          streetName:
            type: string
          streetNumber:
            type: string
          additionalStreetInfo:
            type: string
          postalCode:
            type: string
          city:
            type: string
          region:
            type: string
          state:
            type: string
          company:
            type: string
          department:
            type: string
          building:
            type: string
          apartment:
            type: string
          pOBox:
            type: string
          phone:
            type: string
          mobile:
            type: string
          email:
            type: string
          fax:
            type: string
          additionalAddressInfo:
            type: string
          externalId:
            type: string
          custom:
            $ref: "#/components/schemas/CustomFields"
    Asset:
      required:
      - id
      - name
      - sources
      type: object
      properties:
        id:
          type: string
        sources:
          type: array
          items:
            $ref: "#/components/schemas/AssetSource"
        name:
          $ref: "#/components/schemas/LocalizedString"
        description:
          $ref: "#/components/schemas/LocalizedString"
        tags:
          type: array
          items:
            type: string
        custom:
          $ref: "#/components/schemas/CustomFields"
        key:
          type: string
    AssetDimensions:
      required:
      - h
      - w
      type: object
      properties:
        w:
          type: integer
          format: int32
        h:
          type: integer
          format: int32
    AssetSource:
      required:
      - uri
      type: object
      properties:
        uri:
          type: string
        key:
          type: string
        dimensions:
          $ref: "#/components/schemas/AssetDimensions"
        contentType:
          type: string
    Attribution:
      required:
      - source
      type: object
      properties:
        clientId:
          type: string
        source:
          $ref: "#/components/schemas/AttributionSource"
    AttributionSource:
      type: string
      enum:
      - Import
      - Export
      x-annotation-package: Common
      x-annotation-enumDescriptions:
        Import: Resource was created or updated during import.
        Export: Resource was created or updated during export.
    BaseAddress:
      required:
      - country
      type: object
      properties:
        id:
          type: string
        key:
          type: string
        country:
          $ref: "#/components/schemas/CountryCode"
        title:
          type: string
        salutation:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        streetName:
          type: string
        streetNumber:
          type: string
        additionalStreetInfo:
          type: string
        postalCode:
          type: string
        city:
          type: string
        region:
          type: string
        state:
          type: string
        company:
          type: string
        department:
          type: string
        building:
          type: string
        apartment:
          type: string
        pOBox:
          type: string
        phone:
          type: string
        mobile:
          type: string
        email:
          type: string
        fax:
          type: string
        additionalAddressInfo:
          type: string
        externalId:
          type: string
    BaseResource:
      required:
      - createdAt
      - id
      - lastModifiedAt
      - version
      type: object
      properties:
        id:
          type: string
        version:
          type: integer
          format: int64
        createdAt:
          type: string
          format: datetime
        lastModifiedAt:
          type: string
          format: datetime
    CentPrecisionMoney:
      allOf:
      - $ref: "#/components/schemas/TypedMoney"
      - required:
        - fractionDigits
        type: object
        properties:
          centAmount:
            type: integer
            format: int64
          currencyCode:
            $ref: "#/components/schemas/CurrencyCode"
          type:
            $ref: "#/components/schemas/MoneyType"
          fractionDigits:
            type: integer
            format: int32
    CentPrecisionMoneyDraft:
      allOf:
      - $ref: "#/components/schemas/TypedMoneyDraft"
      - type: object
        properties:
          centAmount:
            type: integer
            format: int64
          currencyCode:
            $ref: "#/components/schemas/CurrencyCode"
          type:
            $ref: "#/components/schemas/MoneyType"
          fractionDigits:
            type: integer
            format: int32
    ClientLogging:
      type: object
      properties:
        clientId:
          type: string
        externalUserId:
          type: string
        customer:
          $ref: "#/components/schemas/CustomerReference"
        anonymousId:
          type: string
        associate:
          $ref: "#/components/schemas/CustomerReference"
    CountryCode:
      type: string
    CreatedBy:
      allOf:
      - $ref: "#/components/schemas/ClientLogging"
      - type: object
        properties:
          clientId:
            type: string
          externalUserId:
            type: string
          customer:
            $ref: "#/components/schemas/CustomerReference"
          anonymousId:
            type: string
          associate:
            $ref: "#/components/schemas/CustomerReference"
          attributedTo:
            $ref: "#/components/schemas/Attribution"
    CurrencyCode:
      type: string
    DiscountedPrice:
      required:
      - discount
      - value
      type: object
      properties:
        value:
          $ref: "#/components/schemas/TypedMoney"
        discount:
          $ref: "#/components/schemas/ProductDiscountReference"
    DiscountedPriceDraft:
      required:
      - discount
      - value
      type: object
      properties:
        value:
          $ref: "#/components/schemas/Money"
        discount:
          $ref: "#/components/schemas/ProductDiscountReference"
    GeoJson:
      required:
      - type
      type: object
      properties:
        type:
          type: string
      discriminator:
        propertyName: type
        mapping:
          Point: "#/components/schemas/GeoJsonPoint"
    GeoJsonPoint:
      allOf:
      - $ref: "#/components/schemas/GeoJson"
      - required:
        - coordinates
        type: object
        properties:
          type:
            type: string
          coordinates:
            type: array
            items:
              type: number
              format: double
    HighPrecisionMoney:
      allOf:
      - $ref: "#/components/schemas/TypedMoney"
      - required:
        - fractionDigits
        - preciseAmount
        type: object
        properties:
          centAmount:
            type: integer
            format: int64
          currencyCode:
            $ref: "#/components/schemas/CurrencyCode"
          type:
            $ref: "#/components/schemas/MoneyType"
          fractionDigits:
            type: integer
            format: int32
          preciseAmount:
            type: integer
            format: int64
    HighPrecisionMoneyDraft:
      allOf:
      - $ref: "#/components/schemas/TypedMoneyDraft"
      - required:
        - fractionDigits
        - preciseAmount
        type: object
        properties:
          centAmount:
            type: integer
            format: int64
          currencyCode:
            $ref: "#/components/schemas/CurrencyCode"
          type:
            $ref: "#/components/schemas/MoneyType"
          fractionDigits:
            type: integer
            format: int32
          preciseAmount:
            type: integer
            format: int64
    Image:
      required:
      - dimensions
      - url
      type: object
      properties:
        url:
          type: string
        dimensions:
          $ref: "#/components/schemas/ImageDimensions"
        label:
          type: string
    ImageDimensions:
      required:
      - h
      - w
      type: object
      properties:
        w:
          type: integer
          format: int32
        h:
          type: integer
          format: int32
    KeyReference:
      required:
      - key
      - typeId
      type: object
      properties:
        typeId:
          $ref: "#/components/schemas/ReferenceTypeId"
        key:
          type: string
      discriminator:
        propertyName: typeId
        mapping:
          store: "#/components/schemas/StoreKeyReference"
    LastModifiedBy:
      allOf:
      - $ref: "#/components/schemas/ClientLogging"
      - type: object
        properties:
          clientId:
            type: string
          externalUserId:
            type: string
          customer:
            $ref: "#/components/schemas/CustomerReference"
          anonymousId:
            type: string
          associate:
            $ref: "#/components/schemas/CustomerReference"
          attributedTo:
            $ref: "#/components/schemas/Attribution"
    Locale:
      type: string
    LocalizedString:
      required:
      - "/^[a-z]{2}(-[A-Z]{2})?$/"
      type: object
      additionalProperties:
        type: string
    Money:
      required:
      - centAmount
      - currencyCode
      type: object
      properties:
        centAmount:
          type: integer
          format: int64
        currencyCode:
          $ref: "#/components/schemas/CurrencyCode"
    MoneyType:
      type: string
      enum:
      - centPrecision
      - highPrecision
      x-annotation-package: Common
      x-annotation-enumDescriptions:
        centPrecision: Use to set currency in cent precision.
        highPrecision: Use to set currency in high precision.
    Price:
      required:
      - id
      - value
      type: object
      properties:
        id:
          type: string
        key:
          type: string
        value:
          $ref: "#/components/schemas/TypedMoney"
        country:
          $ref: "#/components/schemas/CountryCode"
        customerGroup:
          $ref: "#/components/schemas/CustomerGroupReference"
        channel:
          $ref: "#/components/schemas/ChannelReference"
        validFrom:
          type: string
          format: datetime
        validUntil:
          type: string
          format: datetime
        discounted:
          $ref: "#/components/schemas/DiscountedPrice"
        tiers:
          type: array
          items:
            $ref: "#/components/schemas/PriceTier"
        custom:
          $ref: "#/components/schemas/CustomFields"
        recurrencePolicy:
          $ref: "#/components/schemas/RecurrencePolicyReference"
    PriceTier:
      required:
      - minimumQuantity
      - value
      type: object
      properties:
        minimumQuantity:
          type: integer
          format: int64
        value:
          $ref: "#/components/schemas/TypedMoney"
    PriceTierDraft:
      required:
      - minimumQuantity
      - value
      type: object
      properties:
        minimumQuantity:
          type: integer
          format: int64
        value:
          $ref: "#/components/schemas/Money"
    QueryPrice:
      required:
      - value
      type: object
      properties:
        id:
          type: string
        value:
          $ref: "#/components/schemas/Money"
        country:
          $ref: "#/components/schemas/CountryCode"
        customerGroup:
          $ref: "#/components/schemas/CustomerGroupReference"
        channel:
          $ref: "#/components/schemas/ChannelReference"
        validFrom:
          type: string
          format: datetime
        validUntil:
          type: string
          format: datetime
        discounted:
          $ref: "#/components/schemas/DiscountedPriceDraft"
        custom:
          $ref: "#/components/schemas/CustomFields"
        tiers:
          type: array
          items:
            $ref: "#/components/schemas/PriceTierDraft"
    Reference:
      required:
      - id
      - typeId
      type: object
      properties:
        typeId:
          $ref: "#/components/schemas/ReferenceTypeId"
        id:
          type: string
      discriminator:
        propertyName: typeId
        mapping:
          cart-discount: "#/components/schemas/CartDiscountReference"
          category: "#/components/schemas/CategoryReference"
          channel: "#/components/schemas/ChannelReference"
          customer-group: "#/components/schemas/CustomerGroupReference"
          customer: "#/components/schemas/CustomerReference"
          discount-group: "#/components/schemas/DiscountGroupReference"
          product-discount: "#/components/schemas/ProductDiscountReference"
          product: "#/components/schemas/ProductReference"
          product-type: "#/components/schemas/ProductTypeReference"
          recurrence-policy: "#/components/schemas/RecurrencePolicyReference"
          state: "#/components/schemas/StateReference"
          tax-category: "#/components/schemas/TaxCategoryReference"
          type: "#/components/schemas/TypeReference"
          variant: "#/components/schemas/VariantReference"
    ReferenceTypeId:
      type: string
      enum:
      - approval-flow
      - approval-rule
      - associate-role
      - attribute-group
      - business-unit
      - cart
      - cart-discount
      - category
      - channel
      - customer
      - customer-email-token
      - customer-group
      - customer-password-token
      - direct-discount
      - discount-code
      - discount-group
      - extension
      - inventory-entry
      - key-value-document
      - mcp-server
      - order
      - order-edit
      - payment-method
      - payment
      - product
      - product-discount
      - product-price
      - product-selection
      - product-tailoring
      - product-type
      - quote
      - quote-request
      - recurrence-policy
      - recurring-order
      - reservation
      - review
      - shipping-method
      - shopping-list
      - staged-quote
      - standalone-price
      - state
      - store
      - subscription
      - tax-category
      - type
      - variant
      - zone
      x-annotation-package: Common
      x-annotation-enumDescriptions:
        approval-flow: "References an [ApprovalFlow](ctp:api:type:ApprovalFlow). Only\
          \ available for [B2B](/offering/commerce-b2b)-enabled Projects.n"
        approval-rule: "References an [ApprovalRule](ctp:api:type:ApprovalRule). Only\
          \ available for [B2B](/offering/commerce-b2b)-enabled Projects.n"
        associate-role: "References an [AssociateRole](ctp:api:type:AssociateRole).\
          \ Only available for [B2B](/offering/commerce-b2b)-enabled Projects.n"
        attribute-group: "References an [AttributeGroup](ctp:api:type:AttributeGroup).n"
        business-unit: "References a [BusinessUnit](ctp:api:type:BusinessUnit). Only\
          \ available for [B2B](/offering/commerce-b2b)-enabled Projects.n"
        cart: "References a [Cart](ctp:api:type:Cart).n"
        cart-discount: "References a [CartDiscount](ctp:api:type:CartDiscount).n"
        category: "References a [Category](ctp:api:type:Category).n"
        channel: "References a [Channel](ctp:api:type:Channel).n"
        customer: "References a [Customer](ctp:api:type:Customer).n"
        customer-email-token: "References a [CustomerToken](ctp:api:type:CustomerToken)\
          \ for [email verification](/api/projects/customers#email-verification-of-customer).n"
        customer-group: "References a [CustomerGroup](ctp:api:type:CustomerGroup).n"
        customer-password-token: "References a [CustomerToken](ctp:api:type:CustomerToken)\
          \ for [password reset](/api/projects/customers#password-reset-of-customer).n"
        direct-discount: "References a [DirectDiscount](ctp:api:type:DirectDiscount).n"
        discount-code: "References a [DiscountCode](ctp:api:type:DiscountCode).n"
        discount-group: "References a [DiscountGroup](ctp:api:type:DiscountGroup).n"
[...]
