openapi: 3.0.0
info:
  title: commercetools Composable Commerce API
  version: v1
servers:
- url: https://api.us-central1.gcp.commercetools.com
paths:
  /{projectKey}/cart-discounts:
    description: Cart discounts are used to change the prices of different elements within a cart.
    parameters:
    - name: projectKey
      description: '`key` of the Project.'
      in: path
      required: true
      schema:
        type: string
    x-annotation-updateable: CartDiscount
    x-annotation-deleteable: CartDiscount
    x-annotation-createable: CartDiscountDraft
    get:
      security:
      - oauth_2_0:
        - view_orders:{projectKey}
        - view_cart_discounts:{projectKey}
      operationId: ByProjectKeyCartDiscountsGet
      summary: Query cart discounts
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      - name: sort
        description: Sort expression, such as `createdAt desc`. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      - name: limit
        description: Maximum number of results to return. Default 20, maximum 500.
        x-annotation-default: 20
        in: query
        required: false
        style: form
        schema:
          type: integer
        explode: true
      - name: offset
        description: Number of results to skip, for paging. Default 0, maximum 10000.
        x-annotation-default: 0
        in: query
        required: false
        style: form
        schema:
          type: integer
        explode: true
      - name: withTotal
        description: Whether to calculate and return `total` in the response. Default `true`.
        x-annotation-default: true
        in: query
        required: false
        style: form
        schema:
          type: boolean
        explode: true
      - name: where
        description: Query predicate that filters the results. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: A paged list of cart discounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDiscountPagedQueryResponse'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    post:
      security:
      - oauth_2_0:
        - manage_orders:{projectKey}
        - manage_cart_discounts:{projectKey}
      operationId: ByProjectKeyCartDiscountsPost
      summary: Create a cart discount
      description: Creating a Cart Discount produces the [CartDiscountCreated](ctp:api:type:CartDiscountCreatedMessage) Message.
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartDiscountDraft'
      responses:
        '201':
          description: The created cart discount.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDiscount'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
  /{projectKey}/cart-discounts/key={key}:
    parameters:
    - name: projectKey
      description: '`key` of the Project.'
      in: path
      required: true
      schema:
        type: string
    - name: key
      description: User-defined unique identifier of the resource.
      in: path
      required: true
      schema:
        type: string
    x-annotation-methodName: withKey
    get:
      security:
      - oauth_2_0:
        - view_orders:{projectKey}
        - view_cart_discounts:{projectKey}
      operationId: ByProjectKeyCartDiscountsKeyByKeyGet
      summary: Get a cart discount by key
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The cart discount.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDiscount'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    post:
      security:
      - oauth_2_0:
        - manage_orders:{projectKey}
        - manage_cart_discounts:{projectKey}
      operationId: ByProjectKeyCartDiscountsKeyByKeyPost
      summary: Update a cart discount by key
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartDiscountUpdate'
      responses:
        '200':
          description: The cart discount.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDiscount'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    delete:
      security:
      - oauth_2_0:
        - manage_orders:{projectKey}
        - manage_cart_discounts:{projectKey}
      operationId: ByProjectKeyCartDiscountsKeyByKeyDelete
      summary: Delete a cart discount by key
      description: Deleting a Cart Discount produces the [CartDiscountDeleted](ctp:api:type:CartDiscountDeletedMessage) Message.
      parameters:
      - name: version
        description: Expected current version of the resource, for optimistic concurrency control.
        in: query
        required: true
        style: form
        schema:
          type: integer
        explode: true
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The cart discount.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDiscount'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
  /{projectKey}/cart-discounts/{id}:
    parameters:
    - name: projectKey
      description: '`key` of the Project.'
      in: path
      required: true
      schema:
        type: string
    - name: id
      description: Unique identifier of the resource.
      in: path
      required: true
      schema:
        type: string
    x-annotation-methodName: withId
    get:
      security:
      - oauth_2_0:
        - view_orders:{projectKey}
        - view_cart_discounts:{projectKey}
      operationId: ByProjectKeyCartDiscountsByIDGet
      summary: Get a cart discount by ID
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The cart discount.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDiscount'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    post:
      security:
      - oauth_2_0:
        - manage_orders:{projectKey}
        - manage_cart_discounts:{projectKey}
      operationId: ByProjectKeyCartDiscountsByIDPost
      summary: Update a cart discount by ID
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartDiscountUpdate'
      responses:
        '200':
          description: The cart discount.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDiscount'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    delete:
      security:
      - oauth_2_0:
        - manage_orders:{projectKey}
        - manage_cart_discounts:{projectKey}
      operationId: ByProjectKeyCartDiscountsByIDDelete
      summary: Delete a cart discount by ID
      description: Deleting a Cart Discount produces the [CartDiscountDeleted](ctp:api:type:CartDiscountDeletedMessage) Message.
      parameters:
      - name: version
        description: Expected current version of the resource, for optimistic concurrency control.
        in: query
        required: true
        style: form
        schema:
          type: integer
        explode: true
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The cart discount.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDiscount'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
  /{projectKey}/discount-codes:
    description: Discount Codes can be added to a discount-code to enable certain discount-code discounts.
    parameters:
    - name: projectKey
      description: '`key` of the Project.'
      in: path
      required: true
      schema:
        type: string
    x-annotation-updateable: DiscountCode
    x-annotation-deleteable: DiscountCode
    x-annotation-createable: DiscountCodeDraft
    get:
      security:
      - oauth_2_0:
        - view_discount_codes:{projectKey}
      operationId: ByProjectKeyDiscountCodesGet
      summary: Query discount codes
      description: 'Deprecated OAuth 2.0 Scope: `view_orders:{projectKey}`'
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      - name: sort
        description: Sort expression, such as `createdAt desc`. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      - name: limit
        description: Maximum number of results to return. Default 20, maximum 500.
        x-annotation-default: 20
        in: query
        required: false
        style: form
        schema:
          type: integer
        explode: true
      - name: offset
        description: Number of results to skip, for paging. Default 0, maximum 10000.
        x-annotation-default: 0
        in: query
        required: false
        style: form
        schema:
          type: integer
        explode: true
      - name: withTotal
        description: Whether to calculate and return `total` in the response. Default `true`.
        x-annotation-default: true
        in: query
        required: false
        style: form
        schema:
          type: boolean
        explode: true
      - name: where
        description: Query predicate that filters the results. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: A paged list of discount codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscountCodePagedQueryResponse'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    post:
      security:
      - oauth_2_0:
        - manage_discount_codes:{projectKey}
      operationId: ByProjectKeyDiscountCodesPost
      summary: Create a discount code
      description: |-
        Creating a Discount Code produces the [DiscountCodeCreated](ctp:api:type:DiscountCodeCreatedMessage) Message.

        Deprecated OAuth 2.0 Scope: `manage_orders:{projectKey}`
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscountCodeDraft'
      responses:
        '201':
          description: The created discount code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscountCode'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
  /{projectKey}/discount-codes/{id}:
    parameters:
    - name: projectKey
      description: '`key` of the Project.'
      in: path
      required: true
      schema:
        type: string
    - name: id
      description: Unique identifier of the resource.
      in: path
      required: true
      schema:
        type: string
    x-annotation-methodName: withId
    get:
      security:
      - oauth_2_0:
        - ' view_discount_codes:{projectKey}'
      operationId: ByProjectKeyDiscountCodesByIDGet
      summary: Get a discount code by ID
      description: 'Deprecated OAuth 2.0 Scope: `view_orders:{projectKey}`'
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The discount code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscountCode'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    post:
      security:
      - oauth_2_0:
        - manage_discount_codes:{projectKey}
      operationId: ByProjectKeyDiscountCodesByIDPost
      summary: Update a discount code by ID
      description: 'Deprecated OAuth 2.0 Scope: `manage_orders:{projectKey}`'
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscountCodeUpdate'
      responses:
        '200':
          description: The discount code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscountCode'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    delete:
      security:
      - oauth_2_0:
        - manage_discount_codes:{projectKey}
      operationId: ByProjectKeyDiscountCodesByIDDelete
      summary: Delete a discount code by ID
      description: |-
        Deleting a Discount Code produces the [DiscountCodeDeleted](ctp:api:type:DiscountCodeDeletedMessage) Message.

        Deprecated OAuth 2.0 Scope: `manage_orders:{projectKey}`
      parameters:
      - name: dataErasure
        description: Whether to erase all personal data related to the resource. Default `false`.
        x-annotation-default: false
        in: query
        required: false
        style: form
        schema:
          type: boolean
        explode: true
      - name: version
        description: Expected current version of the resource, for optimistic concurrency control.
        in: query
        required: true
        style: form
        schema:
          type: integer
        explode: true
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The discount code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscountCode'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
  /{projectKey}/product-discounts:
    description: Product discounts are used to change certain product prices.
    parameters:
    - name: projectKey
      description: '`key` of the Project.'
      in: path
      required: true
      schema:
        type: string
    x-annotation-updateable: ProductDiscount
    x-annotation-deleteable: ProductDiscount
    x-annotation-createable: ProductDiscountDraft
    get:
      security:
      - oauth_2_0:
        - view_product_discounts:{projectKey}
        - view_products:{projectKey}
      operationId: ByProjectKeyProductDiscountsGet
      summary: Query product discounts
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      - name: sort
        description: Sort expression, such as `createdAt desc`. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      - name: limit
        description: Maximum number of results to return. Default 20, maximum 500.
        x-annotation-default: 20
        in: query
        required: false
        style: form
        schema:
          type: integer
        explode: true
      - name: offset
        description: Number of results to skip, for paging. Default 0, maximum 10000.
        x-annotation-default: 0
        in: query
        required: false
        style: form
        schema:
          type: integer
        explode: true
      - name: withTotal
        description: Whether to calculate and return `total` in the response. Default `true`.
        x-annotation-default: true
        in: query
        required: false
        style: form
        schema:
          type: boolean
        explode: true
      - name: where
        description: Query predicate that filters the results. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: A paged list of product discounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDiscountPagedQueryResponse'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    post:
      security:
      - oauth_2_0:
        - manage_product_discounts:{projectKey}
        - manage_products:{projectKey}
      operationId: ByProjectKeyProductDiscountsPost
      summary: Create a product discount
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDiscountDraft'
      responses:
        '201':
          description: The created product discount.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDiscount'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
  /{projectKey}/product-discounts/key={key}:
    parameters:
    - name: projectKey
      description: '`key` of the Project.'
      in: path
      required: true
      schema:
        type: string
    - name: key
      description: User-defined unique identifier of the resource.
      in: path
      required: true
      schema:
        type: string
    x-annotation-methodName: withKey
    get:
      security:
      - oauth_2_0:
        - view_product_discounts:{projectKey}
        - view_products:{projectKey}
      operationId: ByProjectKeyProductDiscountsKeyByKeyGet
      summary: Get a product discount by key
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The product discount.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDiscount'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    post:
      security:
      - oauth_2_0:
        - manage_product_discounts:{projectKey}
        - manage_products:{projectKey}
      operationId: ByProjectKeyProductDiscountsKeyByKeyPost
      summary: Update a product discount by key
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDiscountUpdate'
      responses:
        '200':
          description: The product discount.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDiscount'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    delete:
      security:
      - oauth_2_0:
        - manage_product_discounts:{projectKey}
        - manage_products:{projectKey}
      operationId: ByProjectKeyProductDiscountsKeyByKeyDelete
      summary: Delete a product discount by key
      parameters:
      - name: version
        description: Expected current version of the resource, for optimistic concurrency control.
        in: query
        required: true
        style: form
        schema:
          type: integer
        explode: true
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The product discount.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDiscount'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
  /{projectKey}/product-discounts/matching:
    parameters:
    - name: projectKey
      description: '`key` of the Project.'
      in: path
      required: true
      schema:
        type: string
    post:
      security:
      - oauth_2_0:
        - view_product_discounts:{projectKey}
        - view_products:{projectKey}
      operationId: ByProjectKeyProductDiscountsMatchingPost
      summary: Get the product discount matching a product price
      description: |-
        This endpoint can be used to simulate which Product Discounts would be applied if a specified Product Variant had a specified Price.
        Given Product and Product Variant IDs and a Price, this endpoint will return the [ProductDiscount](ctp:api:type:ProductDiscount) that would have been applied to that Price.

        If a Product Discount could not be found that could be applied to the Price of a Product Variant, a [NoMatchingProductDiscountFound](ctp:api:type:NoMatchingProductDiscountFoundError) error is returned.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDiscountMatchQuery'
      responses:
        '200':
          description: The product discount.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDiscount'
        '404':
          $ref: '#/components/responses/errorable_404'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
  /{projectKey}/product-discounts/{id}:
    parameters:
    - name: projectKey
      description: '`key` of the Project.'
      in: path
      required: true
      schema:
        type: string
    - name: id
      description: Unique identifier of the resource.
      in: path
      required: true
      schema:
        type: string
    x-annotation-methodName: withId
    get:
      security:
      - oauth_2_0:
        - view_product_discounts:{projectKey}
        - view_products:{projectKey}
      operationId: ByProjectKeyProductDiscountsByIDGet
      summary: Get a product discount by ID
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The product discount.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDiscount'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    post:
      security:
      - oauth_2_0:
        - manage_product_discounts:{projectKey}
        - manage_products:{projectKey}
      operationId: ByProjectKeyProductDiscountsByIDPost
      summary: Update a product discount by ID
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDiscountUpdate'
      responses:
        '200':
          description: The product discount.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDiscount'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    delete:
      security:
      - oauth_2_0:
        - manage_product_discounts:{projectKey}
        - manage_products:{projectKey}
      operationId: ByProjectKeyProductDiscountsByIDDelete
      summary: Delete a product discount by ID
      parameters:
      - name: version
        description: Expected current version of the resource, for optimistic concurrency control.
        in: query
        required: true
        style: form
        schema:
          type: integer
        explode: true
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The product discount.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDiscount'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
  /{projectKey}/tax-categories:
    description: Tax Categories define how products are to be taxed in different countries.
    parameters:
    - name: projectKey
      description: '`key` of the Project.'
      in: path
      required: true
      schema:
        type: string
    x-annotation-updateable: TaxCategory
    x-annotation-deleteable: TaxCategory
    x-annotation-createable: TaxCategoryDraft
    get:
      security:
      - oauth_2_0:
        - view_products:{projectKey}
        - view_tax_categories:{projectKey}
      operationId: ByProjectKeyTaxCategoriesGet
      summary: Query tax categories
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      - name: sort
        description: Sort expression, such as `createdAt desc`. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      - name: limit
        description: Maximum number of results to return. Default 20, maximum 500.
        x-annotation-default: 20
        in: query
        required: false
        style: form
        schema:
          type: integer
        explode: true
      - name: offset
        description: Number of results to skip, for paging. Default 0, maximum 10000.
        x-annotation-default: 0
        in: query
        required: false
        style: form
        schema:
          type: integer
        explode: true
      - name: withTotal
        description: Whether to calculate and return `total` in the response. Default `true`.
        x-annotation-default: true
        in: query
        required: false
        style: form
        schema:
          type: boolean
        explode: true
      - name: where
        description: Query predicate that filters the results. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: A paged list of tax categories.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxCategoryPagedQueryResponse'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    post:
      security:
      - oauth_2_0:
        - manage_products:{projectKey}
        - manage_tax_categories:{projectKey}
      operationId: ByProjectKeyTaxCategoriesPost
      summary: Create a tax category
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxCategoryDraft'
      responses:
        '201':
          description: The created tax category.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxCategory'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
  /{projectKey}/tax-categories/key={key}:
    parameters:
    - name: projectKey
      description: '`key` of the Project.'
      in: path
      required: true
      schema:
        type: string
    - name: key
      description: User-defined unique identifier of the resource.
      in: path
      required: true
      schema:
        type: string
    x-annotation-methodName: withKey
    get:
      security:
      - oauth_2_0:
        - view_products:{projectKey}
        - view_tax_categories:{projectKey}
      operationId: ByProjectKeyTaxCategoriesKeyByKeyGet
      summary: Get a tax category by key
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The tax category.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxCategory'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    post:
      security:
      - oauth_2_0:
        - manage_products:{projectKey}
        - manage_tax_categories:{projectKey}
      operationId: ByProjectKeyTaxCategoriesKeyByKeyPost
      summary: Update a tax category by key
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxCategoryUpdate'
      responses:
        '200':
          description: The tax category.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxCategory'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    delete:
      security:
      - oauth_2_0:
        - manage_products:{projectKey}
        - manage_tax_categories:{projectKey}
      operationId: ByProjectKeyTaxCategoriesKeyByKeyDelete
      summary: Delete a tax category by key
      description: If the TaxCategory is referenced by a resource, a [ReferenceExists](ctp:api:type:ReferenceExistsError) error is returned.
      parameters:
      - name: version
        description: Expected current version of the resource, for optimistic concurrency control.
        in: query
        required: true
        style: form
        schema:
          type: integer
        explode: true
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The tax category.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxCategory'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
  /{projectKey}/tax-categories/{id}:
    parameters:
    - name: projectKey
      description: '`key` of the Project.'
      in: path
      required: true
      schema:
        type: string
    - name: id
      description: Unique identifier of the resource.
      in: path
      required: true
      schema:
        type: string
    x-annotation-methodName: withId
    get:
      security:
      - oauth_2_0:
        - view_products:{projectKey}
        - view_tax_categories:{projectKey}
      operationId: ByProjectKeyTaxCategoriesByIDGet
      summary: Get a tax category by ID
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The tax category.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxCategory'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    post:
      security:
      - oauth_2_0:
        - manage_products:{projectKey}
        - manage_tax_categories:{projectKey}
      operationId: ByProjectKeyTaxCategoriesByIDPost
      summary: Update a tax category by ID
      parameters:
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxCategoryUpdate'
      responses:
        '200':
          description: The tax category.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxCategory'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
    delete:
      security:
      - oauth_2_0:
        - manage_products:{projectKey}
        - manage_tax_categories:{projectKey}
      operationId: ByProjectKeyTaxCategoriesByIDDelete
      summary: Delete a tax category by ID
      description: If the TaxCategory is referenced by a resource, a [ReferenceExists](ctp:api:type:ReferenceExistsError) error is returned.
      parameters:
      - name: version
        description: Expected current version of the resource, for optimistic concurrency control.
        in: query
        required: true
        style: form
        schema:
          type: integer
        explode: true
      - name: expand
        description: Reference path to expand in the response. Can be repeated.
        in: query
        required: false
        style: form
        schema:
          type: array
          items:
            type: string
        explode: true
      responses:
        '200':
          description: The tax category.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxCategory'
        '409':
          $ref: '#/components/responses/conflicting_409'
        '400':
          $ref: '#/components/responses/errorable_400'
        '401':
          $ref: '#/components/responses/errorable_401'
        '403':
          $ref: '#/components/responses/errorable_403'
        '404':
          $ref: '#/components/responses/errorable_404'
        '500':
          $ref: '#/components/responses/errorable_500'
        '502':
          $ref: '#/components/responses/errorable_502'
        '503':
          $ref: '#/components/responses/errorable_503'
components:
  securitySchemes:
    oauth_2_0:
      type: oauth2
      description: |
        HTTP API authorization uses [OAuth2](https://datatracker.ietf.org/doc/html/rfc6750).

        Clients must obtain an access token from the auth service using one of
        the authorization flows described below, before they are able to make authorized requests
        to other Composable Commerce APIs. On successful completion of an authorization flow,
        a client will be given an `access_token`, which they need to include in requests
        to authorized service endpoints via the HTTP `Authorization` header like this:
      flows:
        clientCredentials:
          tokenUrl: https://auth.us-central1.gcp.commercetools.com/oauth/token
          scopes:
            view_api_clients:{projectKey}: ''
            manage_api_clients:{projectKey}: ''
            view_approval_flows:{projectKey}: ''
            manage_approval_flows:{projectKey}: ''
            view_approval_rules:{projectKey}: ''
            manage_approval_rules:{projectKey}: ''
            view_associate_roles:{projectKey}: ''
            manage_associate_roles:{projectKey}: ''
            view_attribute_groups:{projectKey}: ''
            manage_attribute_groups:{projectKey}: ''
            view_audit_log:{projectKey}: ''
            view_business_units:{projectKey}: ''
            manage_business_units:{projectKey}: ''
            view_business_units:{projectKey}:{storeKey}: ''
            manage_business_units:{projectKey}:{storeKey}: ''
            manage_my_business_units:{projectKey}: ''
            view_cart_discounts:{projectKey}: ''
            manage_cart_discounts:{projectKey}: ''
            view_cart_discounts:{projectKey}:{storeKey}: ''
            manage_cart_discounts:{projectKey}:{storeKey}: ''
            view_categories:{projectKey}: ''
            manage_categories:{projectKey}: ''
            view_channels:{projectKey}: ''
            manage_channels:{projectKey}: ''
            view_customer_groups:{projectKey}: ''
            manage_customer_groups:{projectKey}: ''
            view_customers:{projectKey}: ''
            manage_customers:{projectKey}: ''
            view_customers:{projectKey}:{storeKey}: ''
            manage_customers:{projectKey}:{storeKey}: ''
            manage_my_profile:{projectKey}: ''
            manage_my_profile:{projectKey}:{storeKey}: ''
            view_discount_codes:{projectKey}: ''
            manage_discount_codes:{projectKey}: ''
            manage_extensions:{projectKey}: ''
            manage_intake_agent:{projectKey}: ''
            view_mcp_servers:{projectKey}: ''
            manage_mcp_servers:{projectKey}: ''
            view_key_value_documents:{projectKey}: ''
            manage_key_value_documents:{projectKey}: ''
            view_messages:{projectKey}: ''
            view_orders:{projectKey}: ''
            manage_orders:{projectKey}: ''
            view_orders:{projectKey}:{storeKey}: ''
            manage_orders:{projectKey}:{storeKey}: ''
            manage_my_orders:{projectKey}: ''
            manage_my_orders:{projectKey}:{storeKey}: ''
            manage_locked_carts:{projectKey}: ''
            view_order_edits:{projectKey}: ''
            manage_order_edits:{projectKey}: ''
            view_payment_methods:{projectKey}: ''
            manage_payment_methods:{projectKey}: ''
            view_payments:{projectKey}: ''
            manage_payments:{projectKey}: ''
            manage_my_payments:{projectKey}: ''
            view_product_discounts:{projectKey}: ''
            manage_product_discounts:{projectKey}: ''
            view_products:{projectKey}: ''
            manage_products:{projectKey}: ''
            view_published_products:{projectKey}: ''
            view_product_selections:{projectKey}: ''
            manage_product_selections:{projectKey}: ''
            view_product_types:{projectKey}: ''
            manage_product_types:{projectKey}: ''
            manage_project:{projectKey}: ''
            view_project_settings:{projectKey}: ''
            manage_project_settings:{projectKey}: ''
            view_quote_requests:{projectKey}: ''
            manage_quote_requests:{projectKey}: ''
            view_quote_requests:{projectKey}:{storeKey}: ''
            manage_quote_requests:{projectKey}:{storeKey}: ''
            manage_my_quote_requests:{projectKey}: ''
            view_quotes:{projectKey}: ''
            manage_quotes:{projectKey}: ''
            view_quotes:{projectKey}:{storeKey}: ''
            manage_quotes:{projectKey}:{storeKey}: ''
            manage_my_quotes:{projectKey}: ''
            view_recurring_orders:{projectKey}: ''
            manage_recurring_orders:{projectKey}: ''
            view_recurrence_policies:{projectKey}: ''
            manage_recurrence_policies:{projectKey}: ''
            view_shipping_methods:{projectKey}: ''
            manage_shipping_methods:{projectKey}: ''
            view_shopping_lists:{projectKey}: ''
            manage_shopping_lists:{projectKey}: ''
            view_shopping_lists:{projectKey}:{storeKey}: ''
            manage_shopping_lists:{projectKey}:{storeKey}: ''
            manage_my_shopping_lists:{projectKey}: ''
            manage_my_shopping_lists:{projectKey}:{storeKey}: ''
            view_staged_quotes:{projectKey}: ''
            manage_staged_quotes:{projectKey}: ''
            view_staged_quotes:{projectKey}:{storeKey}: ''
            manage_staged_quotes:{projectKey}:{storeKey}: ''
            view_standalone_prices:{projectKey}: ''
            manage_standalone_prices:{projectKey}: ''
            view_states:{projectKey}: ''
            manage_states:{projectKey}: ''
            view_stores:{projectKey}: ''
            manage_stores:{projectKey}: ''
            manage_subscriptions:{projectKey}: ''
            view_tax_categories:{projectKey}: ''
            manage_tax_categories:{projectKey}: ''
            view_types:{projectKey}: ''
            manage_types:{projectKey}: ''
            view_zones:{projectKey}: ''
            manage_zones:{projectKey}: ''
            anonymous_id:{id}: ''
            create_anonymous_token:{projectKey}: ''
            customer_id:{id}: ''
            external_user_id:{externalUserId}: ''
            introspect_oauth_tokens:{projectKey}: ''
  schemas:
    AgentFileNotProcessedWarning:
      allOf:
      - $ref: '#/components/schemas/WarningObject'
      - type: object
        required:
        - code
        - fileName
        - message
        properties:
          code:
            type: string
          message:
            type: string
          fileName:
            type: string
    AgentProductsNotFoundWarning:
      allOf:
      - $ref: '#/components/schemas/WarningObject'
      - type: object
        required:
        - code
        - message
        - products
        properties:
          code:
            type: string
          message:
            type: string
          products:
            type: array
            items:
              type: string
    CartDiscount:
      allOf:
      - $ref: '#/components/schemas/BaseResource'
      - type: object
        required:
        - cartPredicate
        - createdAt
        - id
        - isActive
        - lastModifiedAt
        - name
        - recurringOrderScope
        - references
        - requiresDiscountCode
        - sortOrder
        - stackingMode
        - stores
        - value
        - version
        properties:
          id:
            type: string
          version:
            type: integer
            format: int64
          createdAt:
            type: string
            format: datetime
          lastModifiedAt:
            type: string
            format: datetime
          lastModifiedBy:
            $ref: '#/components/schemas/LastModifiedBy'
          createdBy:
            $ref: '#/components/schemas/CreatedBy'
          name:
            $ref: '#/components/schemas/LocalizedString'
          key:
            type: string
          description:
            $ref: '#/components/schemas/LocalizedString'
          value:
            $ref: '#/components/schemas/CartDiscountValue'
          cartPredicate:
            type: string
          target:
            $ref: '#/components/schemas/CartDiscountTarget'
          sortOrder:
            type: string
          stores:
            type: array
            items:
              $ref: '#/components/schemas/StoreKeyReference'
          isActive:
            type: boolean
          validFrom:
            type: string
            format: datetime
          validUntil:
            type: string
            format: datetime
          requiresDiscountCode:
            type: boolean
          references:
            type: array
            items:
              $ref: '#/components/schemas/Reference'
          stackingMode:
            $ref: '#/components/schemas/StackingMode'
          custom:
            $ref: '#/components/schemas/CustomFields'
          discountGroup:
            $ref: '#/components/schemas/DiscountGroupReference'
          recurringOrderScope:
            $ref: '#/components/schemas/RecurringOrderScope'
    CartDiscountCustomLineItemsTarget:
      allOf:
      - $ref: '#/components/schemas/CartDiscountTarget'
      - type: object
        required:
        - predicate
        properties:
          type:
            type: string
          predicate:
            type: string
    CartDiscountDraft:
      type: object
      required:
      - cartPredicate
      - name
      - value
      properties:
        name:
          $ref: '#/components/schemas/LocalizedString'
        key:
          type: string
        description:
          $ref: '#/components/schemas/LocalizedString'
        value:
          $ref: '#/components/schemas/CartDiscountValueDraft'
        cartPredicate:
          type: string
        target:
          $ref: '#/components/schemas/CartDiscountTarget'
        sortOrder:
          type: string
        stores:
          type: array
          items:
            $ref: '#/components/schemas/StoreResourceIdentifier'
        isActive:
          type: boolean
        validFrom:
          type: string
          format: datetime
        validUntil:
          type: string
          format: datetime
        requiresDiscountCode:
          type: boolean
        stackingMode:
          $ref: '#/components/schemas/StackingMode'
        custom:
          $ref: '#/components/schemas/CustomFieldsDraft'
        discountGroup:
          $ref: '#/components/schemas/DiscountGroupResourceIdentifier'
        recurringOrderScope:
          $ref: '#/components/schemas/RecurringOrderScopeDraft'
    CartDiscountLineItemsTarget:
      allOf:
      - $ref: '#/components/schemas/CartDiscountTarget'
      - type: object
        required:
        - predicate
        properties:
          type:
            type: string
          predicate:
            type: string
    CartDiscountPagedQueryResponse:
      type: object
      required:
      - count
      - limit
      - offset
      - results
      properties:
        limit:
          type: integer
          format: int64
        offset:
          type: integer
          format: int64
        count:
          type: integer
          format: int64
        total:
          type: integer
          format: int64
        results:
          type: array
          items:
            $ref: '#/components/schemas/CartDiscount'
    CartDiscountPatternTarget:
      allOf:
      - $ref: '#/components/schemas/CartDiscountTarget'
      - type: object
        required:
        - selectionMode
        - targetPattern
        - triggerPattern
        properties:
          type:
            type: string
          triggerPattern:
            type: array
            items:
              $ref: '#/components/schemas/PatternComponent'
          targetPattern:
            type: array
            items:
              $ref: '#/components/schemas/PatternComponent'
          maxOccurrence:
            type: integer
            format: int32
          selectionMode:
            $ref: '#/components/schemas/SelectionMode'
    CartDiscountReference:
      allOf:
      - $ref: '#/components/schemas/Reference'
      - type: object
        required:
        - id
        - typeId
        properties:
          typeId:
            $ref: '#/components/schemas/ReferenceTypeId'
          id:
            type: string
          obj:
            $ref: '#/components/schemas/CartDiscount'
    CartDiscountResourceIdentifier:
      allOf:
      - $ref: '#/components/schemas/ResourceIdentifier'
      - type: object
        properties:
          typeId:
            $ref: '#/components/schemas/ReferenceTypeId'
          id:
            type: string
          key:
            type: string
    CartDiscountShippingCostTarget:
      allOf:
      - $ref: '#/components/schemas/CartDiscountTarget'
      - type: object
        properties:
          type:
            type: string
    CartDiscountTarget:
      type: object
      discriminator:
        propertyName: type
        mapping:
          customLineItems: '#/components/schemas/CartDiscountCustomLineItemsTarget'
          lineItems: '#/components/schemas/CartDiscountLineItemsTarget'
          pattern: '#/components/schemas/CartDiscountPatternTarget'
          shipping: '#/components/schemas/CartDiscountShippingCostTarget'
          totalPrice: '#/components/schemas/CartDiscountTotalPriceTarget'
          multiBuyCustomLineItems: '#/components/schemas/MultiBuyCustomLineItemsTarget'
          multiBuyLineItems: '#/components/schemas/MultiBuyLineItemsTarget'
      required:
      - type
      properties:
        type:
          type: string
    CartDiscountTotalPriceTarget:
      allOf:
      - $ref: '#/components/schemas/CartDiscountTarget'
      - type: object
        properties:
          type:
            type: string
    CartDiscountUpdate:
      type: object
      required:
      - actions
      - version
      properties:
        version:
          type: integer
          format: int64
        actions:
          type: array
          items:
            $ref: '#/components/schemas/CartDiscountUpdateAction'
    CartDiscountUpdateAction:
      type: object
      discriminator:
        propertyName: action
        mapping:
          addStore: '#/components/schemas/CartDiscountAddStoreAction'
          changeCartPredicate: '#/components/schemas/CartDiscountChangeCartPredicateAction'
          changeIsActive: '#/components/schemas/CartDiscountChangeIsActiveAction'
          changeName: '#/components/schemas/CartDiscountChangeNameAction'
          changeRequiresDiscountCode: '#/components/schemas/CartDiscountChangeRequiresDiscountCodeAction'
          changeSortOrder: '#/components/schemas/CartDiscountChangeSortOrderAction'
          changeStackingMode: '#/components/schemas/CartDiscountChangeStackingModeAction'
          changeTarget: '#/components/schemas/CartDiscountChangeTargetAction'
          changeValue: '#/components/schemas/CartDiscountChangeValueAction'
          removeStore: '#/components/schemas/CartDiscountRemoveStoreAction'
          setCustomField: '#/components/schemas/CartDiscountSetCustomFieldAction'
          setCustomType: '#/components/schemas/CartDiscountSetCustomTypeAction'
          setDescription: '#/components/schemas/CartDiscountSetDescriptionAction'
          setDiscountGroup: '#/components/schemas/CartDiscountSetDiscountGroupAction'
          setKey: '#/components/schemas/CartDiscountSetKeyAction'
          setRecurringOrderScope: '#/components/schemas/CartDiscountSetRecurringOrderScopeAction'
          setStores: '#/components/schemas/CartDiscountSetStoresAction'
          setValidFrom: '#/components/schemas/CartDiscountSetValidFromAction'
          setValidFromAndUntil: '#/components/schemas/CartDiscountSetValidFromAndUntilAction'
          setValidUntil: '#/components/schemas/CartDiscountSetValidUntilAction'
      required:
      - action
      properties:
        action:
          type: string
    CartDiscountValue:
      type: object
      discriminator:
        propertyName: type
        mapping:
          absolute: '#/components/schemas/CartDiscountValueAbsolute'
          fixed: '#/components/schemas/CartDiscountValueFixed'
          giftLineItem: '#/components/schemas/CartDiscountValueGiftLineItem'
          relative: '#/components/schemas/CartDiscountValueRelative'
      required:
      - type
      properties:
        type:
          type: string
    CartDiscountValueAbsolute:
      allOf:
      - $ref: '#/components/schemas/CartDiscountValue'
      - type: object
        required:
        - money
        properties:
          type:
            type: string
          money:
            type: array
            items:
              $ref: '#/components/schemas/CentPrecisionMoney'
          applicationMode:
            $ref: '#/components/schemas/DiscountApplicationMode'
    CartDiscountValueAbsoluteDraft:
      allOf:
      - $ref: '#/components/schemas/CartDiscountValueDraft'
      - type: object
        required:
        - money
        properties:
          type:
            type: string
          money:
            type: array
            items:
              $ref: '#/components/schemas/Money'
          applicationMode:
            $ref: '#/components/schemas/DiscountApplicationMode'
    CartDiscountValueDraft:
      type: object
      discriminator:
        propertyName: type
        mapping:
          absolute: '#/components/schemas/CartDiscountValueAbsoluteDraft'
          fixed: '#/components/schemas/CartDiscountValueFixedDraft'
          giftLineItem: '#/components/schemas/CartDiscountValueGiftLineItemDraft'
          relative: '#/components/schemas/CartDiscountValueRelativeDraft'
      required:
      - type
      properties:
        type:
          type: string
    CartDiscountValueFixed:
      allOf:
      - $ref: '#/components/schemas/CartDiscountValue'
      - type: object
        required:
        - money
        properties:
          type:
            type: string
          money:
            type: array
            items:
              $ref: '#/components/schemas/TypedMoney'
          applicationMode:
            $ref: '#/components/schemas/DiscountApplicationMode'
    CartDiscountValueFixedDraft:
      allOf:
      - $ref: '#/components/schemas/CartDiscountValueDraft'
      - type: object
        required:
        - money
        properties:
          type:
            type: string
          money:
            type: array
            items:
              $ref: '#/components/schemas/TypedMoneyDraft'
          applicationMode:
            $ref: '#/components/schemas/DiscountApplicationMode'
    CartDiscountValueGiftLineItem:
      allOf:
      - $ref: '#/components/schemas/CartDiscountValue'
      - type: object
        required:
        - product
        - variantId
        properties:
          type:
            type: string
          product:
            $ref: '#/components/schemas/ProductReference'
          variantId:
            type: integer
            format: int64
          supplyChannel:
            $ref: '#/components/schemas/ChannelReference'
          distributionChannel:
            $ref: '#/components/schemas/ChannelReference'
    CartDiscountValueGiftLineItemDraft:
      allOf:
      - $ref: '#/components/schemas/CartDiscountValueDraft'
      - type: object
        required:
        - product
        - variantId
        properties:
          type:
            type: string
          product:
            $ref: '#/components/schemas/ProductResourceIdentifier'
          variantId:
            type: integer
            format: int64
          supplyChannel:
            $ref: '#/components/schemas/ChannelResourceIdentifier'
          distributionChannel:
            $ref: '#/components/schemas/ChannelResourceIdentifier'
    CartDiscountValueRelative:
      allOf:
      - $ref: '#/components/schemas/CartDiscountValue'
      - type: object
        required:
        - permyriad
        properties:
          type:
            type: string
          permyriad:
            type: integer
            format: int64
          applicationMode:
            $ref: '#/components/schemas/DiscountApplicationMode'
    CartDiscountValueRelativeDraft:
      allOf:
      - $ref: '#/components/schemas/CartDiscountValueDraft'
      - type: object
        required:
        - permyriad
        properties:
          type:
            type: string
          permyriad:
            type: integer
            format: int64
          applicationMode:
            $ref: '#/components/schemas/DiscountApplicationMode'
    CountOnCustomLineItemUnits:
      allOf:
      - $ref: '#/components/schemas/PatternComponent'
      - type: object
        required:
        - predicate
        properties:
          type:
            type: string
          predicate:
            type: string
          minCount:
            type: integer
            format: int32
          maxCount:
            type: integer
            format: int32
          excludeCount:
            type: integer
            format: int32
    CountOnLineItemUnits:
      allOf:
      - $ref: '#/components/schemas/PatternComponent'
      - type: object
        required:
        - predicate
        properties:
          type:
            type: string
          predicate:
            type: string
          minCount:
            type: integer
            format: int32
          maxCount:
            type: integer
            format: int32
          excludeCount:
            type: integer
            format: int32
    DiscountApplicationMode:
      type: string
      enum:
      - ProportionateDistribution
      - EvenDistribution
      - IndividualApplication
      x-annotation-package: CartDiscount
      x-annotation-enumDescriptions:
        ProportionateDistribution: Distributes the Discount proportionately across eligible Line Items or Custom Line Items.
        EvenDistribution: Distributes the Discount evenly across eligible Line Items or Custom Line Items.
        IndividualApplication: Applies the Discount individually to eligible Line Item or Custom Line Item.
    MultiBuyCustomLineItemsTarget:
      allOf:
      - $ref: '#/components/schemas/CartDiscountTarget'
      - type: object
        required:
        - discountedQuantity
        - predicate
        - selectionMode
        - triggerQuantity
        properties:
          type:
            type: string
          predicate:
            type: string
          triggerQuantity:
            type: integer
            format: int32
          discountedQuantity:
            type: integer
            format: int32
          maxOccurrence:
            type: integer
            format: int32
          selectionMode:
            $ref: '#/components/schemas/SelectionMode'
    MultiBuyLineItemsTarget:
      allOf:
      - $ref: '#/components/schemas/CartDiscountTarget'
      - type: object
        required:
        - discountedQuantity
        - predicate
        - selectionMode
        - triggerQuantity
        properties:
          type:
            type: string
          predicate:
            type: string
          triggerQuantity:
            type: integer
            format: int32
          discountedQuantity:
            type: integer
            format: int32
          maxOccurrence:
            type: integer
            format: int32
          selectionMode:
            $ref: '#/components/schemas/SelectionMode'
    PatternComponent:
      type: object
      discriminator:
        propertyName: type
        mapping:
          CountOnCustomLineItemUnits: '#/components/schemas/CountOnCustomLineItemUnits'
          CountOnLineItemUnits: '#/components/schemas/CountOnLineItemUnits'
      required:
      - type
      properties:
        type:
          type: string
    SelectionMode:
      type: string
      enum:
      - Cheapest
      - MostExpensive
      x-annotation-package: CartDiscount
      x-annotation-enumDescriptions:
        Cheapest: Select the cheapest items.
        MostExpensive: Select the most expensive items.
    StackingMode:
      type: string
      enum:
      - Stacking
      - StopAfterThisDiscount
      x-annotation-package: CartDiscount
      x-annotation-enumDescriptions:
        Stacking: Applies other matching Discounts after applying this one.
        StopAfterThisDiscount: Doesn't apply any more matching Discounts after this one if it's successfully applied.
    CartDiscountAddStoreAction:
      allOf:
      - $ref: '#/components/schemas/CartDiscountUpdateAction'
      - type: object
        required:
        - store
        properties:
          action:
            type: string
          store:
            $ref: '#/components/schemas/StoreResourceIdentifier'
    CartDiscountChangeCartPredicateAction:
      allOf:
      - $ref: '#/components/schemas/CartDiscountUpdateAction'
      - type: object
        required:
        - cartPredicate
        properties:
          action:
            type: string
          cartPredicate:
            type: string
    CartDiscountChangeIsActiveAction:
      allOf:
      - $ref: '#/components/schemas/CartDiscountUpdateAction'
      - type: object
        required:
        - isActive
        properties:
          action:
            type: string
          isActive:
            type: boolean
    CartDiscountChangeNameAction:
      allOf:
      - $ref: '#/components/schemas/CartDiscountUpdateAction'
      - type: object
        required:
        - name
        properties:
          action:
            type: string
          name:
            $ref: '#/components/schemas/LocalizedString'
    CartDiscountChangeRequiresDiscountCodeAction:
      allOf:
      - $ref: '#/components/schemas/CartDiscountUpdateAction'
      - type: object
        required:
        - requiresDiscountCode
        properties:
          action:
            type: string
          requiresDiscountCode:
            type: boolean
    CartDiscountChangeSortOrderAction:
      allOf:
      - $ref: '#/components/schemas/CartDiscountUpdateAction'
      - type: object
        required:
        - sortOrder
        properties:
          action:
            type: string
          sortOrder:
            type: string
    CartDiscountChangeStackingModeAction:
      allOf:
      - $ref: '#/components/schemas/CartDiscountUpdateAction'
      - type: object
        required:
        - stackingMode
        properties:
          action:
            type: string
          stackingMode:
            $ref: '#/components/schemas/StackingMode'
    CartDiscountChangeTargetAction:
      allOf:
      - $ref: '#/components/schemas/CartDiscountUpdateAction'
      - type: object
        required:
        - target
        properties:
          action:
            type: string
          target:
            $ref: '#/components/schemas/CartDiscountTarget'
    CartDiscountChangeValueAction:
      allOf:
      - $ref: '#/components/schemas/CartDiscountUpdateAction'
      - type: object
        required:
        - value
        properties:
          action:
            type: string
          value:
            $ref: '#/components/schemas/CartDiscountValueDraft'
    CartDiscountRemoveStoreAction:
      allOf:
      - $ref: '#/components/schemas/CartDiscountUpdateAction'
      - type: object
        required:
        - store
        properties:
          action:
            type: string
          store:
            $ref: '#/components/schemas/StoreResourceIdentifier'
    CartDiscountSetCustomFieldAction:
      allOf:
      - $ref: '#/components/schemas/CartDiscountUpdateAction'
      - type: object
        required:
        - name
        properties:
          action:
            type: string
          name:
            type: string
          value: {}
    CartDiscountSetCustomTypeAction:
      allOf:
      - $ref: '#/components/schemas/CartDiscountUpdateAction'
      - type: object
        properties:
          action:
            type: string
          type:
            $ref: '#/components/schemas/TypeResourceIdentifier'
          fields:
            $ref: '#/components/schemas/FieldContainer'
    CartDiscountSetDescriptionAction:
      allOf:
      - $ref: '#/components/schemas/CartDiscountUpdateAction'
      - type: object
        properties:
          action:
            type: string
          description:
            $ref: '#/components/schemas/LocalizedString'
    CartDiscountSetDiscountGroupAction:
      allOf:
      - $ref: '#/components/schemas/CartDiscountUpdateAction'
      - type: object
        properties:
          action:
            type: string
          discountGroup:
            $ref: '#/components/schemas/DiscountGroupResourceIdentifier'
          sortOrder:
            type: string
    CartDiscountSetKeyAction:
      allOf:
      - $ref: '#/components/schemas/CartDiscountUpdateAction'
      - type: object
        properties:
          action:
            type: string
          key:
            type: string
    CartDiscountSetRecurringOrderScopeAction:
      allOf:
      - $ref: '#/components/schemas/CartDiscountUpdateAction'
      - type: object
        required:
        - recurringOrderScope
        properties:
          action:
            type: string
          recurringOrderScope:
            $ref: '#/components/schemas/RecurringOrderScopeDraft'
    CartDiscountSetStoresAction:
      allOf:
      - $ref: '#/components/schemas/CartDiscountUpdateAction'
      - type: object
        required:
        - stores
        properties:
          action:
            type: string
          stores:
            type: array
            items:
              $ref: '#/components/schemas/StoreResourceIdentifier'
    CartDiscountSetValidFromAction:
      allOf:
      - $ref: '#/components/schemas/CartDiscountUpdateAction'
      - type: object
        properties:
          action:
            type: string
          validFrom:
            type: string
            format: datetime
    CartDiscountSetValidFromAndUntilAction:
      allOf:
      - $ref: '#/components/schemas/CartDiscountUpdateAction'
      - type: object
        properties:
          action:
            type: string
          validFrom:
            type: string
            format: datetime
          validUntil:
            type: string
            format: datetime
    CartDiscountSetValidUntilAction:
      allOf:
      - $ref: '#/components/schemas/CartDiscountUpdateAction'
      - type: object
        properties:
          action:
            type: string
          validUntil:
            type: string
            format: datetime
    Category:
      allOf:
      - $ref: '#/components/schemas/BaseResource'
      - type: object
        required:
        - ancestors
        - createdAt
        - id
        - lastModifiedAt
        - name
        - orderHint
        - slug
        - version
        properties:
          id:
            type: string
          version:
            type: integer
            format: int64
          createdAt:
            type: string
            format: datetime
          lastModifiedAt:
            type: string
            format: datetime
          lastModifiedBy:
            $ref: '#/components/schemas/LastModifiedBy'
          createdBy:
            $ref: '#/components/schemas/CreatedBy'
          name:
            $ref: '#/components/schemas/LocalizedString'
          slug:
            $ref: '#/components/schemas/LocalizedString'
          description:
            $ref: '#/components/schemas/LocalizedString'
          ancestors:
            type: array
            items:
              $ref: '#/components/schemas/CategoryReference'
          parent:
            $ref: '#/components/schemas/CategoryReference'
          orderHint:
            type: string
          externalId:
            type: string
          metaTitle:
            $ref: '#/components/schemas/LocalizedString'
          metaDescription:
            $ref: '#/components/schemas/LocalizedString'
          metaKeywords:
            $ref: '#/components/schemas/LocalizedString'
          custom:
            $ref: '#/components/schemas/CustomFields'
          assets:
            type: array
            items:
              $ref: '#/components/schemas/Asset'
          key:
            type: string
    CategoryReference:
      allOf:
      - $ref: '#/components/schemas/Reference'
      - type: object
        required:
        - id
        - typeId
        properties:
          typeId:
            $ref: '#/components/schemas/ReferenceTypeId'
          id:
            type: string
          obj:
            $ref: '#/components/schemas/Category'
    Channel:
      allOf:
      - $ref: '#/components/schemas/BaseResource'
      - type: object
        required:
        - createdAt
        - id
        - key
        - lastModifiedAt
        - roles
        - version
        properties:
          id:
            type: string
          version:
            type: integer
            format: int64
          createdAt:
            type: string
            format: datetime
          lastModifiedAt:
            type: string
            format: datetime
          lastModifiedBy:
            $ref: '#/components/schemas/LastModifiedBy'
          createdBy:
            $ref: '#/components/schemas/CreatedBy'
          key:
            type: string
          roles:
            type: array
            items:
              $ref: '#/components/schemas/ChannelRoleEnum'
          name:
            $ref: '#/components/schemas/LocalizedString'
          description:
            $ref: '#/components/schemas/LocalizedString'
          address:
            $ref: '#/components/schemas/Address'
          reviewRatingStatistics:
            $ref: '#/components/schemas/ReviewRatingStatistics'
          custom:
            $ref: '#/components/schemas/CustomFields'
          geoLocation:
            $ref: '#/components/schemas/GeoJson'
    ChannelReference:
      allOf:
      - $ref: '#/components/schemas/Reference'
      - type: object
        required:
        - id
        - typeId
        properties:
          typeId:
            $ref: '#/components/schemas/ReferenceTypeId'
          id:
            type: string
          obj:
            $ref: '#/components/schemas/Channel'
    ChannelResourceIdentifier:
      allOf:
      - $ref: '#/components/schemas/ResourceIdentifier'
      - type: object
        properties:
          typeId:
            $ref: '#/components/schemas/ReferenceTypeId'
          id:
            type: string
          key:
            type: string
    ChannelRoleEnum:
      type: string
      enum:
      - InventorySupply
      - ProductDistribution
      - OrderExport
      - OrderImport
      - Primary
      x-annotation-package: Channel
      x-annotation-enumDescriptions:
        InventorySupply: Channel can be used to track inventory entries (for example, Channels with this role can be treated as warehouses).n
        ProductDistribution: Channel can be used to expose Products to a specific distribution Channel.nThe Channel can be used by a Cart to [select](/api/pricing-and-discounts-overview#line-item-price-selection) a Product Price.n
        OrderExport: Channel identifies a synchronization destination used when storing export information in [SyncInfo](ctp:api:type:SyncInfo).nYou can reference it with [Update SyncInfo](ctp:api:type:OrderUpdateSyncInfoAction) on Orders and Order Edits.n
        OrderImport: Channel identifies a synchronization destination used when storing import information in [SyncInfo](ctp:api:type:SyncInfo).nYou can reference it with [Update SyncInfo](ctp:api:type:OrderUpdateSyncInfoAction) on Orders and Order Edits.n
        Primary: Marks the Channel as the default or preferred Channel among Channels with the same role.nIt can be combined with another role, for example `InventorySupply`.n
    Address:
      allOf:
      - $ref: '#/components/schemas/BaseAddress'
      - type: object
        properties:
          id:
            type: string
          key:
            type: string
          country:
            $ref: '#/components/schemas/CountryCode'
          title:
            type: string
          salutation:
            type: string
          firstName:
            type: string
          lastName:
            type: string
          streetName:
            type: string
          streetNumber:
            type: string
          additionalStreetInfo:
            type: string
          postalCode:
            type: string
          city:
            type: string
          region:
            type: string
          state:
            type: string
          company:
            type: string
          department:
            type: string
          building:
            type: string
          apartment:
            type: string
          pOBox:
            type: string
          phone:
            type: string
          mobile:
            type: string
          email:
            type: string
          fax:
            type: string
          additionalAddressInfo:
            type: string
          externalId:
            type: string
          custom:
            $ref: '#/components/schemas/CustomFields'
    Asset:
      type: object
      required:
      - id
      - name
      - sources
      properties:
        id:
          type: string
        sources:
          type: array
          items:
            $ref: '#/components/schemas/AssetSource'
        name:
          $ref: '#/components/schemas/LocalizedString'
        description:
          $ref: '#/components/schemas/LocalizedString'
        tags:
          type: array
          items:
            type: string
        custom:
          $ref: '#/components/schemas/CustomFields'
        key:
          type: string
    AssetDimensions:
      type: object
      required:
      - h
      - w
      properties:
        w:
          type: integer
          format: int32
        h:
          type: integer
          format: int32
    AssetSource:
      type: object
      required:
      - uri
      properties:
        uri:
          type: string
        key:
          type: string
        dimensions:
          $ref: '#/components/schemas/AssetDimensions'
        contentType:
          type: string
    Attribution:
      type: object
      required:
      - source
      properties:
        clientId:
          type: string
        source:
          $ref: '#/components/schemas/AttributionSource'
    AttributionSource:
      type: string
      enum:
      - Import
      - Export
      x-annotation-package: Common
      x-annotation-enumDescriptions:
        Import: Resource was created or updated during import.
        Export: Resource was created or updated during export.
    BaseAddress:
      type: object
      required:
      - country
      properties:
        id:
          type: string
        key:
          type: string
        country:
          $ref: '#/components/schemas/CountryCode'
        title:
          type: string
        salutation:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        streetName:
          type: string
        streetNumber:
          type: string
        additionalStreetInfo:
          type: string
        postalCode:
          type: string
        city:
          type: string
        region:
          type: string
        state:
          type: string
        company:
          type: string
        department:
          type: string
        building:
          type: string
        apartment:
          type: string
        pOBox:
          type: string
        phone:
          type: string
        mobile:
          type: string
        email:
          type: string
        fax:
          type: string
        additionalAddressInfo:
          type: string
        externalId:
          type: string
    BaseResource:
      type: object
      required:
      - createdAt
      - id
      - lastModifiedAt
      - version
      properties:
        id:
          type: string
        version:
          type: integer
          format: int64
        createdAt:
          type: string
          format: datetime
        lastModifiedAt:
          type: string
          format: datetime
    CentPrecisionMoney:
      allOf:
      - $ref: '#/components/schemas/TypedMoney'
      - type: object
        required:
        - fractionDigits
        properties:
          centAmount:
            type: integer
            format: int64
          currencyCode:
            $ref: '#/components/schemas/CurrencyCode'
          type:
            $ref: '#/components/schemas/MoneyType'
          fractionDigits:
            type: integer
            format: int32
    CentPrecisionMoneyDraft:
      allOf:
      - $ref: '#/components/schemas/TypedMoneyDraft'
      - type: object
        properties:
          centAmount:
            type: integer
            format: int64
          currencyCode:
            $ref: '#/components/schemas/CurrencyCode'
          type:
            $ref: '#/components/schemas/MoneyType'
          fractionDigits:
            type: integer
            format: int32
    ClientLogging:
      type: object
      properties:
        clientId:
          type: string
        externalUserId:
          type: string
        customer:
          $ref: '#/components/schemas/CustomerReference'
        anonymousId:
          type: string
        associate:
          $ref: '#/components/schemas/CustomerReference'
    CountryCode:
      type: string
    CreatedBy:
      allOf:
      - $ref: '#/components/schemas/ClientLogging'
      - type: object
        properties:
          clientId:
            type: string
          externalUserId:
            type: string
          customer:
            $ref: '#/components/schemas/CustomerReference'
          anonymousId:
            type: string
          associate:
            $ref: '#/components/schemas/CustomerReference'
          attributedTo:
            $ref: '#/components/schemas/Attribution'
    CurrencyCode:
      type: string
    DiscountedPrice:
      type: object
      required:
      - discount
      - value
      properties:
        value:
          $ref: '#/components/schemas/TypedMoney'
        discount:
          $ref: '#/components/schemas/ProductDiscountReference'
    DiscountedPriceDraft:
      type: object
      required:
      - discount
      - value
      properties:
        value:
          $ref: '#/components/schemas/Money'
        discount:
          $ref: '#/components/schemas/ProductDiscountReference'
    GeoJson:
      type: object
      discriminator:
        propertyName: type
        mapping:
          Point: '#/components/schemas/GeoJsonPoint'
      required:
      - type
      properties:
        type:
          type: string
    GeoJsonPoint:
      allOf:
      - $ref: '#/components/schemas/GeoJson'
      - type: object
        required:
        - coordinates
        properties:
          type:
            type: string
          coordinates:
            type: array
            items:
              type: number
              format: double
    HighPrecisionMoney:
      allOf:
      - $ref: '#/components/schemas/TypedMoney'
      - type: object
        required:
        - fractionDigits
        - preciseAmount
        properties:
          centAmount:
            type: integer
            format: int64
          currencyCode:
            $ref: '#/components/schemas/CurrencyCode'
          type:
            $ref: '#/components/schemas/MoneyType'
          fractionDigits:
            type: integer
            format: int32
          preciseAmount:
            type: integer
            format: int64
    HighPrecisionMoneyDraft:
      allOf:
      - $ref: '#/components/schemas/TypedMoneyDraft'
      - type: object
        required:
        - fractionDigits
        - preciseAmount
        properties:
          centAmount:
            type: integer
            format: int64
          currencyCode:
            $ref: '#/components/schemas/CurrencyCode'
          type:
            $ref: '#/components/schemas/MoneyType'
          fractionDigits:
            type: integer
            format: int32
          preciseAmount:
            type: integer
            format: int64
    Image:
      type: object
      required:
      - dimensions
      - url
      properties:
        url:
          type: string
        dimensions:
          $ref: '#/components/schemas/ImageDimensions'
        label:
          type: string
    ImageDimensions:
      type: object
      required:
      - h
      - w
      properties:
        w:
          type: integer
          format: int32
        h:
          type: integer
          format: int32
    KeyReference:
      type: object
      discriminator:
        propertyName: typeId
        mapping:
          store: '#/components/schemas/StoreKeyReference'
      required:
      - key
      - typeId
      properties:
        typeId:
          $ref: '#/components/schemas/ReferenceTypeId'
        key:
          type: string
    LastModifiedBy:
      allOf:
      - $ref: '#/components/schemas/ClientLogging'
      - type: object
        properties:
          clientId:
            type: string
          externalUserId:
            type: string
          customer:
            $ref: '#/components/schemas/CustomerReference'
          anonymousId:
            type: string
          associate:
            $ref: '#/components/schemas/CustomerReference'
          attributedTo:
            $ref: '#/components/schemas/Attribution'
    Locale:
      type: string
    LocalizedString:
      type: object
      required:
      - /^[a-z]{2}(-[A-Z]{2})?$/
      additionalProperties:
        type: string
    Money:
      type: object
      required:
      - centAmount
      - currencyCode
      properties:
        centAmount:
          type: integer
          format: int64
        currencyCode:
          $ref: '#/components/schemas/CurrencyCode'
    MoneyType:
      type: string
      enum:
      - centPrecision
      - highPrecision
      x-annotation-package: Common
      x-annotation-enumDescriptions:
        centPrecision: Use to set currency in cent precision.
        highPrecision: Use to set currency in high precision.
    Price:
      type: object
      required:
      - id
      - value
      properties:
        id:
          type: string
        key:
          type: string
        value:
          $ref: '#/components/schemas/TypedMoney'
        country:
          $ref: '#/components/schemas/CountryCode'
        customerGroup:
          $ref: '#/components/schemas/CustomerGroupReference'
        channel:
          $ref: '#/components/schemas/ChannelReference'
        validFrom:
          type: string
          format: datetime
        validUntil:
          type: string
          format: datetime
        discounted:
          $ref: '#/components/schemas/DiscountedPrice'
        tiers:
          type: array
          items:
            $ref: '#/components/schemas/PriceTier'
        custom:
          $ref: '#/components/schemas/CustomFields'
        recurrencePolicy:
          $ref: '#/components/schemas/RecurrencePolicyReference'
    PriceTier:
      type: object
      required:
      - minimumQuantity
      - value
      properties:
        minimumQuantity:
          type: integer
          format: int64
        value:
          $ref: '#/components/schemas/TypedMoney'
    PriceTierDraft:
      type: object
      required:
      - minimumQuantity
      - value
      properties:
        minimumQuantity:
          type: integer
          format: int64
        value:
[...]
